@import 'styles/mixins.scss';
@import 'styles/variable.scss';

@mixin containers {
  margin-left: 7%;
  margin-right: 7%;
  height: 100%;
  display: flex;
}

.logo {
  width: 120px;
  height: 29px;

  @include md {
    width: 150px;
    height: 40px;
  }
}

.header {
  width: 100%;
  height: 70px;
  margin-top: 0;
  border-bottom: 1px solid rgba($lightgrey, 0.5);

  @include msd {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  @include sm {
    height: 50px;
  }
}

.headerContainer {
  @include containers();
}

.headerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerLinksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;

  @include msd {
    display: none;
  }
}

.headerLinksList {
  display: none;

  @include md {
    flex-direction: row;
    display: flex;
    height: 100%;
    margin-left: auto;
  }
}

.headerLink {
  padding: 0 20px;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  letter-spacing: 0.05em;

  @include md {
    padding: 0 15px;
  }

  @include lg {
    padding: 0 25px;
  }

  &::after {
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  &:last-child {
    padding-right: 0;
  }

  &Text {
    &.isActive {
      color: $primaryBlue;
      font-weight: 500;
    }

    &:hover {
      color: $primaryBlue;
    }
  }

  &Login {
    padding-right: 0;
  }

  &Icon {
    display: flex;
    flex-direction: column;
  }
}

.headerButton {
  padding: 20px;
}

.headerLinkWrapper {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end !important;

  &Extra {
    cursor: pointer;

    &Text {
      font-size: 11px !important;
      font-weight: normal;
      margin-left: 20px;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      color: $darkgrey;

      &:hover {
        border-bottom: 1px solid $darkgrey;
      }
    }
  }
}

.profile {
  &Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &PlaceHolder {
    width: 35px;
    height: 35px;
    background-color: $lightgrey;
    border-radius: 50%;
    display: inline-block;
    margin-right: 30px;
  }

  &Caret {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);

    &::before,
    &::after {
      position: absolute;
      content: '';
      height: 8px;
      width: 2px;
      top: 50%;
      background-color: $darkgrey;
    }

    &::before {
      left: -2px;
      transform: rotate(-45deg);
    }

    &::after {
      right: -5px;
      transform: rotate(45deg);
    }
  }
}


.mobileIconWrapper {
  display: none;

  .icon {
    margin: 0 15px;
    &:hover {
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include msd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}
