@import 'styles/mixins.scss';
@import 'styles/variable.scss';

.container {
  background-color: #f7f8fa;
}

.companies {
  @extend .GlobalContainer;
  padding-bottom: 150px;

  &Pagination {
    margin-top: 50px;
    display: flex;
  }
}

.searchContainer {
  background-color: #fff;
}

.searchCompany {
  @extend .GlobalContainer;
  margin-top: 32px;
  margin-bottom: 48px;

  > p {
    margin-top: 32px;
  }

  &Title {
    margin-bottom: 24px;
  }
}

.companiesPagination {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  :global {
    .MuiPaginationItem-page {
      background-color: #fff;
    }
  }
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px;
  flex-wrap: wrap;

  .filterItems {
    height: 30px;
    width: 207px;
    margin: 0 9px 13px 0;
    :global {
      .MuiPaper-root {
        width: 300px;

        .MuiAutocomplete-paper {
          width: 300px;
        }
      }
    }
  }

  .clearButton {
    text-transform: capitalize !important;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    letter-spacing: 0.0075em;
    color: #707070;
    font-size: 14px;
    margin-left: 4px;
    height: 30px;
  }
}

.featuredEmployer {
  display: flex;
  justify-content: space-between;

  @include msd {
    flex-direction: column;
  }
}

.featuredCompany {
  width: 560px;
  display: flex;
  padding: 28px 0 0 28px;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;

  @include msd {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}

.featuredCompanyLogo {
  width: 64px;
  height: 64px;
  user-select: none;
  margin-right: 16px;
}

.featuredCompanyDetails {
  display: flex;
  flex-direction: column;
}

.featuredCompanyAbout {
  margin-top: 8px;
  margin-bottom: 12px;
}

.featuredCompanyAboutItem {
  margin-right: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.featuredCompanyAboutItemSeparator {
  width: 1px;
  height: 9px;
  background-color: #c9cdd4;
  display: inline-block;
}

.featuredCompanyName {
  margin-right: 8px;
  color: #1d2129;
}

.featuredCompanyDescription {
  color: #4e5969;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
  margin: 0;
}

.featuredCompanyPhotos {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
}

.featuredCompanyPhoto {
  position: relative;
  width: 136px;
  height: 94px;
  margin-right: 8px;
  margin-bottom: 8px;
  user-select: none;
  -webkit-user-drag: none;
}

.featuredSectionTitle {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  color: #353535;
}

.popularCompanyTitle {
  margin-top: 54px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  color: #353535;
}

.searchField {
  display: flex;

  &InputContainer {
    width: 570px;
    position: relative;
    margin-right: 16px;
  }

  &Input {
    width: 100%;
  }

  &Suggestions {
    position: absolute;
    width: 100%;
    border: 1px solid $lightgrey;
    z-index: 2;
  }

  &SuggestionItem {
    background-color: $white-3;
    padding: 10px 20px;

    &:not(:last-child) {
      border-bottom: 1px solid $white-2;
    }

    &:hover {
      cursor: pointer;

      span {
        color: $primaryBlue;
      }
    }
  }

  &SuggestionEmpty {
    background-color: $white-3;
    padding: 10px 20px;
  }

  &Button {
    padding: 6px 25px !important;
    width: 12%;
    border-radius: 8px !important;
  }

  @include msd {
    flex-direction: column;

    &InputContainer {
      width: 100%;
      margin-bottom: 24px;
    }

    &Button {
      width: 100%;
    }
  }
}

.companyList {
  display: flex;
  flex-wrap: wrap;

  @include msd {
    flex-direction: column;
  }
}

.companyItem {
  width: 372px;
  margin-right: 16px;
  margin-bottom: 16px;
  overflow: hidden;

  @include msd {
    width: 100%;
  }
}

.companyCard {
  display: flex;
  padding: 24px 16px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;

  @include msd {
    flex-direction: column;
  }

  &Image {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 5px;
    border: 1px solid #f2f5fa;
  }

  &Left {
    margin-right: 21px;
  }

  &Right {
    width: 280px;

    p {
      margin: 0;
    }

    @include msd {
      margin-top: 10px;
    }
  }

  &Name {
    display: flex;
    margin-bottom: 8px;

    a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
    }
  }

  &Category {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &Openings {
    position: relative;
    margin-top: 14px;
    display: inline-block;

    span {
      color: #2378e5;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .arrowIcon {
    margin-left: 10px;
  }
}
