@import 'styles/mixins.scss';
@import 'styles/variable.scss';

.ResetPassword {
  &SubHeading {
    text-align: center;
    p {
      margin: 0;
      line-height: 1.9;
    }
  }

  &Form {
    margin-top: 60px;
  }

  &FormInput {
    width: 100%;
  }

  &FormButton {
    width: 100%;
    margin-top: 50px;
  }

  &EmailOTP {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .ResetPasswordFormInput {
      width: 80%;
    }

    .ResetPasswordOTP {
      width: 20%;
    }
  }

  &OTP {
    text-align: center;

    span {
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
}