@import 'styles/mixins.scss';

.container {
  overflow: visible;
  border-radius: 10px;
  background: transparent;
  padding-bottom: 50px;
  @include sm {
    display: none;
  }

  .jobContainer {
    margin-bottom: 15px;
  }
}
.mobileContainer {
  display: none;
  @include sm {
    display: flex;
    flex-direction: column;
  }
}
.loadingSke {
  height: 145px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 14px 24px 0 24px;
  width: 864px;

  @include sm {
    width: calc(100% - 26px);
    margin-left: 13px;
    margin-right: 13px;
  }
  .top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.loadMore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto 35px auto;
}

.viewMore {
  border: 1px solid rgb(35, 120, 229);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: rgb(35, 120, 229);
  padding: 0px 30px;
  height: 40px;
}
