@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.uploadResumeField {
  width: 100%;

  span {
    @include msd {
      line-height: 15px !important;
    }
  }

  // div {
  //   width: 100%;
  // }

  .error {
    margin: 6px 0 0;
  }

  > .question {
    margin-top: 15px;

    > .answer {
      margin-top: 15px;

      > div {
        height: 100%;
      }
    }
  }

  label {
    width: 100%;
  }

  > .uploadedResume {
    display: flex;
    justify-content: space-between;

    > .leftResume {
      display: flex;
      width: 95%;

      @include msd {
        width: 93%;
      }

      > .documentDiv {
        width: auto;
        margin-right: 10px;
      }

      > .resumeName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 22px;
      }
      .resumeTime {
        font-weight: 400;
        color: #707070;
        font-size: 14px;
        line-height: 24px;
      }
    }

    > .trashDiv {
      width: auto;
      &_icon {
        cursor: pointer;
      }
    }

    .disabledDelResume {
      cursor: progress;

      &_icon {
        pointer-events: none;
      }
    }
  }

  .buttonCTA {
    width: 100%;
  }
}

.upToFiles {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.0075em;
  color: #7d7d7d;
}
