@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.uploadResumeField {
  width: 100%;

  span {
    @include msd {
      line-height: 15px !important;
    }
  }

  div {
    width: 100%;
  }

  .error {
    margin: 6px 0 0;
  }

  > .question {
    margin-top: 15px;

    > .answer {
      margin-top: 15px;

      > div {
        height: 100%;
      }
    }
  }

  label {
    width: 100%;
  }

  > .uploadedResume {
    display: flex;
    justify-content: space-between;

    > .leftResume {
      display: flex;
      width: 95%;

      @include msd {
        width: 93%;
      }

      > .documentDiv {
        width: auto;
        margin-right: 10px;
      }

      > .resumeName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 22px;
      }
    }

    > .trashDiv {
      width: auto;
      cursor: pointer;
    }

    .disabledDelResume {
      cursor: progress;

      &_icon {
        pointer-events: none;
      }
    }
  }

  .buttonCTA {
    width: 100%;
  }
}
