@import 'styles/mixins.scss';

.title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1px;
  color: #353535;
  padding-top: 50px;
  padding: 0 10px;
  @include sm {
    display: none;
  }
}

.tabContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 28px;
  background: #f5f6fa;
  width: 100%;

  &_more {
    margin-top: 32px;
    text-align: center;
    width: 100%;
  }
  .moreBtn {
    color: #fff;
    width: 118px;
    height: 44px;
    border-radius: 10px;
    line-height: 44px;
    text-align: center;
    background: #136FD3;
    margin: 0 auto 10px;
    display: block;
    font-weight: 700;
    cursor: pointer;
}
}

.job {
  &_detail {
    width: calc(50% - 5px);
    margin-bottom: 16px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in;
    overflow: hidden;
  }

  &_detail:hover {
    box-shadow: 6px 7px 7px #ccc;
  }

  &_titleWrapper {
    display: flex;
    justify-content: space-between;
  }

  &_info {
    color: rgb(255, 255, 255);
    padding: 15px 19px 0 16px;
    display: block;
    &_title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.02em;
      color: #353535;
      width: 0;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: color 0.3s ease-in;
    }
    .transBox{
      width: 194px;
      height:30px;
      overflow-y: hidden;
  }
    &_salary {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.02em;
      color: #fe574a;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transform: translateY(0px);
      transition: all 0.4s ease 0s;
      text-align: right;
    }

    &_chat {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 3px 10px;
      background: #136fd3;
      border: 0.5px solid #136fd3;
      border-radius: 16px;
      font-weight: 400;
      width: 98px;
      font-size: 12px;
      letter-spacing: 0.0075em;
      color: #ffffff;
      transform: translateY(30px);
      white-space: nowrap;
      transition: all 0.4s ease 0s;
      float: right;
    }
  }

  &_info:hover>&_titleWrapper>&_info_title {
    color: #136fd3;
  }

  &_info:hover {
    .job_info_salary {
      // display: flex;
      transform: translateY(-26px);
      opacity: 0;
    }

    .job_info_chat {
      transform: translateY(-26px);
    }
  }

  &_tags {
    display: flex;
    padding: 16px 0 22px;

    div {
      align-items: center;
      padding: 3px 10px;
      background: #f0f0f0;
      border-radius: 16px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.0075em;
      color: #707070;
      margin-right: 5px;
    }
  }

  &_avatarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_box{
    display: flex;
    align-items: center;
    img{
      border-radius: 5px;
    }
  }
  &_companyInfo {
    background: linear-gradient(269.8deg, rgba(255, 235, 184, 0.2) 0.12%, rgba(242, 177, 202, 0.2) 43.36%, rgba(84, 142, 237, 0.2) 99.89%);
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 15px;
    display: block;
    &_name {
      margin-left: 10px;
      transition: color 0.3s ease-in;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.0075em;
      color: #353535;
    }
    &_industry{
      color: #707070;
      float: right;
    }
  }

  &_companyInfo:hover &_companyInfo_name {
    color: #136fd3;
  }
}
.webTab{
  position: relative;
  .preference{
    position: absolute;
    top:14px;
    right: 0;
    p{
      margin: 0;
    }
    img{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .link{
      color: #136FD3;
      text-decoration: underline;
     
    }
   .link2{
    color: #136FD3;
   }
  }
}
.mobileTab {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

@include sm {
  .title {
    text-align: left;
    padding-top: 48px;
  }
}

@include sm {
  .webTab {
    display: none;
  }
  .mobileTab {
    display: none;
  }
}