@import 'styles/mixins.scss';

.swtihcNation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 739px;
  height: 239px;
  box-shadow: 24px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;

  &_head {
    padding: 16px 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #353535;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.02em;
      color: #353535;
      margin: 0;
    }
  }

  &_main {
    display: flex;
    width: 100%;
    padding: 28px 24px 31px;

  }

  :global{
    .MuiAutocomplete-popper{
      font-size: 14px !important;
    }
    .MuiAutocomplete-option{
      font-size: 14px !important;
    }
    svg{
      font-size: 14px !important;
    }
    .MuiAutocomplete-input{
      font-size: 14px !important;
    }
  }
  &_footer {
    padding: 16px 24px;
    display: flex;
    justify-content: flex-end;
    border-top: 0.5px solid #bcbcbc;

    &_btn {
      width: 156px !important;
      height: 44px !important;
      border: 1px solid #136fd3;
      border-radius: 10px !important;
      text-transform: capitalize !important;
      font-style: normal !important;
      font-weight: 700 !important;
      font-size: 14px !important;
      letter-spacing: 0.0075em !important;
      color: #136fd3;
    }

    &_btn:first-child {
      margin-right: 8px;
    }

    &_btn:last-child {
      color: #ffffff;
      border-color: transparent;
    }
  }

  @include msd {
    position: relative;
    overflow: hidden;
    background-color: white;
    top: 50px;
    left: 0%;
    transform: translate(0%, 0%);
    overflow: hidden;
    background-color: white;
    border-radius: 0;
    position: fixed;
    width: 100%;
    height: calc(100% - 50px);

    &_head {
      background-color: white;

      &_close {
        display: none !important;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #353535;
      }
    }

    &_main {
      flex-direction: column;
    }

    &_footer {
      position: absolute;
      bottom: 0;
      border-top: 1px solid #f0f0f0;
    }
  }
}
