@use '../../base';
.tab_content_wrapper {
  width: 746px;
  @include base.respond-to(phone) {
    width: 100%;
    padding-bottom: 0.5rem;
  }
}

.album_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.album_item {
  border-radius: 5px;
  margin-bottom: 20px;
}

.overview_item {
  padding: 8px 12px;
  width: 228px;
  height: 63px;
  background: #f7f8fa;
  margin-bottom: 12px;
  border-radius: 4px;
  @include base.respond-to(phone) {
    width: 1.7rem;
    margin-bottom: 0.08rem;
    border-radius: 0.04rem;
    // height: 2.5rem;
    // margin-bottom: 0.12rem;
  }
}
.overview_item_name {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #86909c;
  margin-bottom: 4px;
  @extend .text_overflow;
  @include base.respond-to(phone) {
    font-size: 0.15rem;
  }
}
.overflow_width {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #1d2129;
  @extend .text_overflow;
  @include base.respond-to(phone) {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #1d2129;
    width: 3.7rem;
  }
}
.overview_item_value {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #1d2129;
  @extend .text_overflow;
  @include base.respond-to(phone) {
    font-size: 0.17rem;
  }
  :global {
    a {
      color: #1d2129 !important;
      &:hover {
        color: #1890ff !important;
      }
    }
  }
}
.overview_item_value_mobile {
  color: var(--neutral-color-text, #1d2129);
  /* Regular/title/medium and small */
  font-size: 0.17rem;
  font-family: Product Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 0.22rem;
  word-break: break-all;
}
.overview_item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.introduction {
  line-height: 23px;
  @include base.respond-to(phone) {
    font-family: 'Product Sans';
    font-weight: 400;
    font-size: 0.15rem;
    line-height: 0.23rem;
    color: #1d2129;
  }
}
.introduce_wrapper {
  overflow: hidden;
  transition: all 0.3s linear;
}
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.more {
  font-family: 'Product Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #1d2129;
  margin-top: 16px;
  cursor: pointer;
  @include base.respond-to(phone) {
    color: var(--neutral-color-text, #1d2129);
    font-size: 0.14rem;
    font-family: Product Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 0.23rem;
    margin-top: 0.16rem;
  }
}
.business_item {
  width: 350px;
  height: 63px;
  margin-bottom: 24px;
  border-radius: 4px;
  @include base.respond-to(phone) {
    height: auto;
    width: 3.5rem;
  }
}

.animation_wrapper {
  overflow: hidden;
  transition: height 0.3s linear;
}

.text_overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.mobile_album {
  width: 3rem;
  height: 2.1rem;
  position: relative;
  border-radius: 5px;
}
