{
  "trailingComma": "none",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "semi": false
}
