@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.contentWrapper {
  @extend .GlobalContainer;
  background: white;
  box-shadow: $box-shadow-8;
  display: flex;
  flex-direction: column;
  margin: 100px;
  padding: 3%;
  max-width: 88%;

  @include msd {
    margin: 0;
    margin-top: 5px;
    max-width: 100%;
  }
}

.sectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom:20px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom:20px;

  &Header {
    margin-bottom: 12px;
  }

  @include msd {
    margin-bottom: 16px;
  }
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  &Location {
    @extend .itemWrapper;
    height: 700px;

    @include msd {
      display: block;
      height: 3400px
    }
  }

  &Category{
    @extend .itemWrapper;
    height: 550px;

    @include msd {
      display: block;
      height: 2185px;
    }
  }

  &Industry {
    @extend .itemWrapper;
    height: 400px;

    @include msd {
      display: block;
      height: 480px;
    }
  }

  &Experience {
    @extend .itemWrapper;
    height: 70px;

    @include msd {
      display: block;
      height: 125px;
    }
  }

  &Qualification {
    @extend .itemWrapper;
    height: 90px;

    @include msd {
      display: block;
      height: 145px;
    }
  }

  &JobType{
    @extend .itemWrapper;
    height: 110px;

    @include msd {
      display: block;
      height: 125px;
    }
  }

  &Salary{
    @extend .itemWrapper;
    height: 110px;

    @include msd {
      display: block;
      height: 125px;
    }
  }
}

.item {
  display: flex;
  width: 200px;
  font-weight:300;
}