@import 'styles/mixins.scss';
@import 'styles/variable.scss';

.RegisterDivider {
  position: relative;
  height: 16px;
  margin-top: 28px;

  &Text {
    color: $lightgrey;
    position: absolute;
    background-color: $white-3;
    width: 100px;
    z-index: 1;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: $lightgrey-2;
    top: 50%;
    left: 0;
  }
}

.RegisterForm {
  margin-top: 20px;

  &Input {
    width: 100%;
    margin-bottom: 10px !important;
    margin-top: 15px !important;
  }

  &Name {
    display: flex;
    justify-content: space-between;

    & > * {
      width: 46%;
    }
  }
}

.RegisterEmailNewsletter {
  margin: 20px 0 30px;
}

.RegisterButton {
  width: 100%;
}

.RegisterAgreement {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.fieldError {
  margin: 0 0 10px;
}