@import 'styles/mixins.scss';
@import 'styles/variable.scss';

.companyList {
  display: flex;
  flex-wrap: wrap;

  @include msd {
    flex-direction: column;
  }
}

.companyItem {
  width: calc((100% / 3) - 10px);
  margin-right: 10px;
  margin-bottom: 16px;

  @include msd {
    width: 100%;
  }
}