@import '/styles/mixins.scss';

.searchArea {
  .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  @include sm {
    width: 100%;
    overflow-x: hidden;
    padding-top: 4px;
  }

  // margin-left: 10%;
  .location {
    width: 183px;
    @include sm {
      width: 140px;
    }
  }

  .search {
    flex: 1;
    margin: 0px 17px;
    @include sm {
      margin-left: 15px;
      margin-right: 0px;
    }
  }

  .searchButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 19px;
    color: #fff;
    width: 118.87px;
    height: 44px;
    background: #136fd3;
    border-radius: 10px;
    // flex: none;
    // order: 2;
    // flex-grow: 0;

    @include sm {
      display: none;
    }

    &:hover {
      color: #136fd3;
    }

    &:disabled {
      color: #fff;
    }
  }
}
@keyframes showTrans {
  0% {
      transform: translate(0,-25px)
  }

  35% {
      transform: translate(0,-.497px)
  }

  53% {
      transform: translate(0,-6.249px)
  }

  71% {
      transform: translate(0,-.621px)
  }

  82% {
      transform: translate(0,-1.488px)
  }

  88% {
      transform: translate(0,-.234px)
  }

  94% {
      transform: translate(0,-.385px)
  }

  100% {
      transform: translate(0,0)
  }
}
.searchAreaFix{
  height: 92px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #FFFFFF;
  box-shadow: 3px 3px 3px #ccc;
  z-index: 100;
  transition: .3s;
  animation: showTrans .35s linear both;
  .box{
    max-width: 1170px;
    margin: 24px auto 0;
  }
    :global{
      .MuiOutlinedInput-notchedOutline{
        border-width:0.5px !important;
      }
    
  }

   .download{
    margin-left: 62px;
    width: 150px;
    font-size: 14px;
    color: #136FD3;
    cursor: pointer;
    position: relative;
    word-break: keep-all;
    @include msd {
      display: none;
    }
     .icon{
      float: left;
      font-size: 32px;
      line-height: 18px;
      letter-spacing: 1px;
      position: relative;
      top: 4px;
     }
     >p{
      padding-left: 24px;
      line-height: 20px;
     }
     &:hover .popver{
      display: block;
     }
   }
   .popver{
      position: absolute;
      left: -12px;
      top: 50px;
      background: #FFFFFF;
      border: 0.5px solid #BCBCBC;
      border-radius: 10px;
      padding: 14px 20px;
      z-index: 100;
      display: none;
      box-shadow: 0px 0px 14px #BCBCBC;
      &::after{
        content: ' ';
        position: absolute;
        left: 20px;
        top: -16px;
        width: 0;
        height: 0;
        border-width: 8px;
        border-style: solid;
        border-color:transparent transparent #fff  transparent;
      }
    img{
      width: 104px;
      height: 104px;
    }
    p{
     padding: 6px 0 0 0;
     text-align: center;
     line-height: 20px;
     margin: 0;
    }
  }

} 