@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.quickApplyModal {
  overflow-y: auto;
  height: 90vh;
  height: --webkit-fill-available;
  max-height: 100%;

  @include sm{
    height:95vh !important;
  }

  [class^="Modal_modalHeader"] {
    padding: 16px 30px;
  }

  [class^="Modal_modalBody"] {
    padding: 16px 15px;
    scrollbar-gutter: stable both-edges; 
  }

  [class^="Modal_modalFooter"] {
    padding: 16px 30px;
  }
}

.quickApplyForm {

  &Field {
    margin-bottom: 20px;

    div { 
      width: 100%;
    }

    .error {
      margin: 6px 0 0;
    }

    > .question {
      margin-top: 15px;

      span {
        line-height: 24px;
      }

      > .answer {
        margin-top: 15px;

        > div {
          height: 100%;
        }
      }
    }
    
    label {
      width: 100%;
    }

    > .uploadedResume {
      display: flex;
      justify-content: space-between;

      > .leftResume {
        display: flex;

        > .documentDiv {
          width: auto;
          margin-right: 10px;
        }

        > .resumeName {
          line-height: 22px;
        }
      }

      > .trashDiv {
        width: auto;
        cursor: pointer;
      }
    }
  }

  > .halfWidth {
    display: flex;
    justify-content: space-between;

    > div {
      width: 48%;
    }

    @include msd {
      display: block;
      
      > div {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .divider {
    margin-bottom: 16px !important;
  }
}

.ctaButton{
  flex: 1;

  @include sm{
    width:100%;
  }
}