@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.accessSettings {
  @extend .GlobalContainer;
  padding: 50px 0 100px;
  display: flex;

  @include sm {
    padding-top: 0px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &Tabs {
    width: 25%;
    &Button {
      background-color: rebeccapurple;
    }
    &Title {
      padding-bottom: 30px;
    }

    &_btn {
      display: flex;
      background-color: rebeccapurple;
    }

    &_tab {
      button {
        font-size: 18px;
      }
    }

    @include sm {
      &_scrollButtons {
        border-bottom: 1px solid #dedede;
      }
      &Title {
        padding-bottom: 20px;
        text-align: center;
      }
      &_tab {
        display: flex;
        flex-direction: initial;
        font-size: 18px;
        button {
          flex: 1;
          text-align: center;
          display: block;
          flex-direction: inherit;
          font-size: 18px !important;
          height: 55px;
        }
      }
    }
  }

  &Container {
    width: 75%;

    .formWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .RegisterForm {
        margin-top: 20px;

        &Input {
          width: 100%;
          margin-top: 16px !important;
        }
      }
    }

    &_fromWrapper {
      &_edit {
        &_input {
          margin-top: 20px;
          width: 100%;
        }

        &_wrapper {
          display: flex;
          justify-content: space-between;
          &_block {
            width: 49%;
          }
        }
      }
    }

    &_swtich {
      color: blue;
      justify-content: space-between;
      display: flex;
      align-items: center;
      &_fb {
        &_component {
          margin-left: -13px;
        }

        &_button {
          margin-top: 24px;
          button {
            text-transform: none;
            min-width: 143px;
            height: 44px;
            @include sm {
              width: 100%;
            }
          }
          button:nth-child(2) {
            margin-left: 20px;
          }
        }
        @include sm {
          flex-direction: column;
          align-items: flex-start;
          &_context {
            padding-left: 12px;
          }
        }
      }
    }
  }

  .JobAlertContainer {
    &_title {
      margin-bottom: 15px;
    }

    &_desc {
      color: #707070;
      margin-bottom: 5px;
    }
  }

  @include sm {
    flex-direction: column;

    &Tabs {
      // border-bottom: 1px solid red;
    }

    &Tabs,
    &Container {
      width: 100%;
    }
  }

  .fieldError {
    margin: 0;
  }
}
