
@import 'styles/mixins.scss';

.loginContainer{
    .list {
        list-style: none;
        width: 100%;
  
        li {
          cursor: pointer;
          margin-top: 16px;
          position: relative;
          font-size: 14px;
          border-radius: 8px;
          text-align: center;
          height: 44px;
          border: 1px solid #c9cdd4;
          letter-spacing: 0.0075em;
          color: #1d2129;
          font-weight: 700;
          line-height: 44px;
  
          a {
            display: block;
            color: #1d2129;
          }
  
          &:hover {
            background-color: #e5f4ff;
          }
  
          img {
            position: absolute;
            width: 24px;
            height: 24px;
            left: 17px;
            top: 10px;
          }
        }
      }
      .account{
        list-style: none;
        min-height: 160px;
        li{
          width: 100%;
          height: 80px;
          padding: 17px 0;
          box-sizing: border-box;
          border-bottom: 1px solid rgba(242, 243, 245, 1);
          cursor: pointer;
          &:hover{
            .name{
              color: #2378e5;
            }
           
          }
          img{
            width: 46px;
            height: 46px;
            float: left;
            margin-right: 14px;
            border-radius: 50%;
          }
          p{
            margin: 0;
          }
          .name{
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 1px;
            color: #1D2129;
            padding-top: 3px;
           
          }
          .email{
            font-size: 14px;
            line-height: 21px;      
            letter-spacing: 1px;
            color: #86909C;
            
          }
        }
      }
      .listEmail {
        display: flex;
  
        li {
          margin-right: 12px;
          margin-top: 0;
          flex: 1;
  
          &:last-child {
            margin-right: 0;
          }
        }
      }
  
      .divider {
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #86909c;
        padding: 24px 0;
  
        &.divider_none {
          margin: 0;
          padding: 0;
        }
      }
}