@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.companyJobsCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba($lightgrey, 0.5);
  padding: 0 0 20px;
  margin-bottom: 20px;

  &Info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    span {
      width: 33%;
    }
  }

  &Apply {
    border: 1px solid;
  }

  &Left {
    width: 80%;
  }

  @include msd {
    flex-direction: column;

    &Left {
      width: 100%;
      text-align: left;
    }

    &Right {
      margin-top: 6px;
      width: 100%;
      text-align: right;
    }
  }
}