@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.seeMore {
  &Action {
    margin-top: 5px;

    span {
      display: inline;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &Description * {
    font-size: 16px !important;
    font-family: 'Product Sans' !important;
    line-height: 24px;
  }

  &Description * {
    > ol,
    ul {
      padding-inline: inherit;
      margin-left: 40px;
      line-height: 24px;
    }
  }
}
