@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.container {
  width: 100%;
}

.form {
  .field:not(:first-child) {
    margin-top: 24px;
  }

  .field {
    &Required {
      color: $red;
    }

    &Header {
      margin-bottom: 10px;
    }

    &Date {
      display: flex;
    }

    &DateItem {
      width: 50%;
      margin-right: 20px;

      & > * {
        width: 100%;
      }
    }
  }
}

.fullWidth {
  width: 100% !important;
}