@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.ModalShare {
  padding: 20px 40px 40px;

  &List {
    list-style-type: none;
    margin: 14px 0 0;
    padding-bottom: 24px;
    display: flex;
    border-bottom: 1px solid $lightgrey;
  }

  &Item {
    margin-right: 70px;
  }

  &ItemLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;

    &::before,
    &::after {
      height: 0;
    }
  }

  &ItemImg {
    margin-bottom: 15px;
  }

  &Footer {
    margin-top: 24px;
    position: relative;
  }

  &FooterTooltip {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: $primaryBlue;
    padding: 2px 10px 5px;
    border-radius: 4px;

    &::after {
      position: absolute;
      content: '';
      bottom: -6px;
      right: 12px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.9px 4px 0 4px;
      border-color: $primaryBlue transparent transparent transparent;
    }
  }

  &FooterLink {
    position: relative;
    padding-right: 45px;
    background-color: #f4f3f3;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 24px;
  }

  &FooterLinkText {
    white-space: pre;
    font-size: $mobile-font-size-sm;
    color: $darkgrey;
    width: 100%;
    border: none;
    background: transparent;
    padding: 14px;

    &:focus {
      outline: none;
    }

    @include md {
      font-size: $desktop-font-size-sm;
    }
  }

  &FooterCopy {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 100%;
    background-color: #f4f3f3;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}