@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.companyOverview {
  margin-top: 24px;

  @include msd {
    height: 100%;
  }

  &Left,
  &Right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    @include msd {
      width: 100%;
    }
  }

  &Item {
    display: flex;
    margin-bottom: 24px;

    @include msd {
      flex-direction: column;
    }

    span {
      display: inline-block;

      &:first-child {
        min-width: 180px;
      }

      @include msd {
        &:first-child,
        &:last-child {
          width: 100%;
        }

        &:last-child {
          margin: 10px 0 15px;
        }
      }
    }

    img {
      width: 31px;
      height: 31px;
      object-fit: contain;
    }

    &:last-child {
      align-items: center;

      @include msd {
        align-items: flex-start;
      }
        

    }
  }

  &ItemSocial {
    margin-bottom: 0;
  }

  &SocialLink {
    margin-right: 10px;
  }

  &Social {
    margin-top: 10px;
  }

  &Location {
    line-height: 1.3;
  }
}

.companySection {
  margin-top: 24px;
  padding: 32px;
  border-radius: 5px;
  border: 1px solid rgba($lightgrey, 0.5);

  @include msd {
    border: none;
    padding: 0;
  }
}

.companyJobsBadge {
  color: $white-3;
  border-radius: 12px;
  background-color: $pink-1;
  font-weight: 300;
  font-size: 12px;
  padding: 2px 6px;
  margin-left: 4px;
}

.companySectionTitle {
  margin: 0 0 24px;
  display: block;
}

.companyDescription {
  margin-bottom: 10px;

  ol, ul {
    padding-inline: inherit;
    margin-left: 20px;
  }
}

.companyCulture {
  &Heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &HeadingLink {
    padding-right: 18px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 6px;
      width: 6px;
      border-top: 1px solid $primaryBlue;
      border-right: 1px solid $primaryBlue;
      top: 40%;
      right: 0;
      transform: translateY(-50%) rotate(45deg);
    }

    &:hover {
      cursor: pointer;
      span {
        text-decoration: underline;
      }
    }

    // @include msd {
    //   text-align: right;
    //   margin: 10px 0 20px;
    //   padding-right: 20px;

    //   &:before {
    //     height: 4px;
    //     width: 4px;
    //   }

    //   &:after {
    //     width: 15px;
    //   }
    // }
  }

  &HeadingLinkTop {
    @include msd {
      display: none;
    }
  }

  &HeadingLinkBottom {
    display: none;
    @include msd {
      display: inline-block;

      &::before {
        top: 46%
      }
    }
  }

  &Content {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include msd {
      flex-direction: column;
    }
  }

  &TopImage {
    img {
      height: 300px;
      width: 300px;
      object-fit: contain;

      @include msd {
        width: 100%;
        margin-bottom: 12px;
      }
    }
  }

  &Wrapper {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include msd {
      margin-left: 0;
    }
  }

  &Section {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &List {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 12px;
  }

  &Item {
    padding: 4px 12px;
    border-radius: 15px;
    background-color: $white-2;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &Jobs {
    .companyCultureHeading {
      margin-bottom: 40px;
    }
  }
}

.companyLife {
  &Pictures {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &Picture {
    width: calc((100% / 3) - 10px);
    height: 300px;
    object-fit: contain;
    margin: 5px 5px;
  }

  &CategoryGroup {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &Category {
    display: flex;
    align-items: center;
    margin: 20px 0 30px;

    span {
      margin-left: 20px;
    }
  }

  &CategoryList {
    margin-bottom: 4px;
  }

  &CategoryValue {
    padding: 4px 12px;
    border-radius: 15px;
    background-color: $white-2;
    margin-right: 18px;
    margin-bottom: 16px;
    display: inline-block;
  }
}

.companyJobs {
  &Found {
    display: block;
    margin: 20px 0 30px;
  }

  &Pagination {
    margin-top: 30px;

    ul {
      justify-content: flex-start;
    }
  }
}

.companyJobsSearch {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 40px;

  &Left,
  &Right {
    width: 49.5%;
  }

  &Right {
    display: flex;
    justify-content: space-between;
  }

  &Title {
    width: 100%;
  }

  &Location {
    width: 78%;
  }

  &Button {
    width: 20%;
  }

  @include msd {
    flex-direction: column;
    margin-bottom: 24px;

    &Left,
    &Right {
      width: 100%;
      margin-bottom: 24px;
    }

    &Right {
      flex-direction: column;
      margin-bottom: 0;
    }

    &Location, 
    &Button {
      width: 100%;
      margin-bottom: 24px;
    }
  }
}

// Embla
.embla {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include sm {
    padding: 10px;
  }
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
}

.emblaContainer {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;

  &Double {
    @extend .emblaContainer;
    margin: 0 25%;
  }
}

.emblaSlide {
  position: relative;
  padding-left: 16px;
  flex: 0 0 33.33%;
}

.emblaSlideInner {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;

  img {
    width: 279px;
    height: 279px;
  }
}

.slidesControl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &Item {
    height: 50px;
    width: 50px;
    background-color: $white-3;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    box-shadow: $box-shadow-1;

    &:hover {
      cursor: pointer;
    }
  }

  &Right {
    right: -15px;
    transform: translateY(-50%);

    &::after {
      position: absolute;
      content: '';
      height: 12px;
      width: 12px;
      top: 50%;
      right: 15px;
      border-top: 2px solid $darkgrey;
      border-right: 2px solid $darkgrey;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &Left {
    left: -10px;
    transform: translateY(-50%);

    &::after {
      position: absolute;
      content: '';
      height: 12px;
      width: 12px;
      top: 50%;
      left: 55%;
      border-top: 2px solid $darkgrey;
      border-right: 2px solid $darkgrey;
      transform: translate(-50%, -50%) rotate(-135deg);
    }
  }

  @include msd {
    display: none;
  }
}

.emptyResult {
  text-align: center;
}