@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.job {
  display: flex;
  padding: 0 7%;
  position: relative;

  @include msd {
    padding: 0 6%;
  }
}

.jobList {
  width: 30%;

  &Option {
    height: 68px;
    border-bottom: 1px solid rgba($lightgrey, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 9%;
    position: absolute;
    width: 32.42%;
    left: 0;
    background-color: $white-3;

    &.isSticky {
      position: fixed;
      top: 139px;
      border-bottom: 1px solid rgba($lightgrey, 0.6);
      z-index: 1;
    }

    @include msd {
      width: 100%;
    }
  }

  &OptionAlerts {
    display: flex;
    align-items: center;

    span {
      margin-right: 15px;
      color: $darkgrey;
    }

    &Item {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &Content {
    margin-top: 68px;
  }

  @include msd {
    width: 100%;
  }
}

.jobDetailInfoSection {
  width: 56%;
  border-top: 0;
  border: 1px solid rgba($lightgrey, 0.6);

  @include msd {
    display: none;
  }
}

.jobModal {
  &EnableAlert {
    &:hover {
      cursor: pointer;
    }
  }
}

.jobAds {
  width: 14%;
  margin: 10px;

  .skyscraperBanner {
    display:flex;
    width:160px;
    height:600px;
    margin-bottom:30px;
    box-sizing: border-box;
    overflow:hidden;
    cursor:pointer;
    background-color: $white-1;
  }

  @include msd {
    display: none;
  }
}

.paginationWrapper{
  margin: 20px 0;

  @include msd {
    button {
      height: 30px;
      min-width: 30px;
    }
  }
}