@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.container {
  @extend .GlobalContainer;
}

.jobContent {
  display: flex;
}

.jobList {
  width: 352px;
  margin-right: 24px;

  &Option {
    height: 40px;
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;

    &.isSticky {
      top: 0;
      position: fixed;
    }

    @include msd {
      width: 100%;
    }
  }

  &OptionAlerts {
    display: flex;
    align-items: center;

    span {
      color: $darkgrey;
    }

    &Item {
      &:hover {
        cursor: pointer;
      }

      &:last-child {
        margin-left: 15px;
      }
    }
  }

  &OptionContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 341px;
    height: 100%;
    background-color: $white-3;
    margin-bottom: 24px;

    @include msd{
      width: 100%;
      border: none;
      padding: 0;
    }
  }

  &OptionOtherContent {
    width: 70%;
  }

  &Content {
    margin-top: 64px;

    @include msd {
      padding: 0;
    }
  }

  @include msd {
    width: 100%;
    margin-right: 0;
  }
}

.jobDetailInfoSection {
  width: 552px;
  margin-right: 24px;
  border: 1px solid rgba($lightgrey, 0.5);
  border-radius: 5px;

  @include msd {
    display: none;
  }
}

.jobModal {
  &EnableAlert {
    &:hover {
      cursor: pointer;
    }
  }
}

.jobAds {
  width: 166px;
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .skyscraperBanner {
    display:flex;
    width:160px;
    height:600px;
    margin-bottom:20px;
    box-sizing: border-box;
    overflow:hidden;
    cursor:pointer;
    background-color: $white-1;

    @include msd{
      width: 100%;
    }
  }

  @include msd {
    display: none;
  }
}

.paginationWrapper{
  margin: 20px 0;

  @include msd {
    margin: 20px 0 64px;

    button {
      height: 30px;
      min-width: 30px;
    }
  }
}