@import 'styles/mixins.scss';

.uploadResumeButton {
  width: 100%;
  padding: 12px 13px;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
  background-position: center;

  &_button {
    width: 100%;
    border-radius: 10px !important;
    height: 48px;
    background-color: #136fd3 !important;
    color: #fff !important;
    font-size: 14px !important;
    line-height: 17px !important;
    text-transform: capitalize !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_button:hover {
    background-color: #136fd3 !important;
  }
}

.arrowContainer {
  .uploadResumeButton_button {
    padding: 6px 35px !important;
    background-repeat: no-repeat !important;
    background-position-y: 7px !important;
    background-position-x: 6px !important;
  }

  @include msd {
    padding: 10px !important;

    .uploadResumeButton_button {
      padding: 14px 35px !important;
      font-size: 16px !important;
    }
  }
}