.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 8px;
}
.container {
    width: 100%;
    height: 61px;
    position: relative;

    .left {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0px;
        background: transparent;
        @extend .content;
    }

    .right {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0px;
        background: transparent;
        // transform: translateX();
        @extend .content;
    }

    .indicatorContainer {
        width: 64px;
        height: 4px;
        position: absolute;
        bottom: 0px;
        left: calc(50% - 32px);
        background: #f0f0f0;
        border-radius: 2px;
        overflow: hidden;
        .indicator {
            width: 32px;
            height: 4px;
            position: absolute;
            bottom: 0px;
            left: calc(50% - 32px);
            background: #136FD3;
            border-radius: 2px;
            overflow: hidden;
        }
    }
}
