@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.JobCardLoader {
  display: flex;
  border: 1px solid rgba($lightgrey, 0.6);
  border-radius: 5px;
  width: 100%;
  padding: 24px;
  height: 380px;
  flex-direction: column;
  margin-bottom: 24px;
}

.JobCardLoaderImage {
  &Wrapper {
    width: 25%;
    display: flex;
    
    @include msd {
      margin-right: 8px;

      svg {
        width: 52px !important;
        height: 52px !important;
      }
    }
  }
}

.JobCardDetailWrapper {
  height: 100%;

  @include msd {
    width: 70%;
  }
}