@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.JobCardLoader {
  display: flex;
  border-bottom: 1px solid rgba($lightgrey, 0.6);
  border-left: 1px solid rgba($lightgrey, 0.6);
  width: 100%;
  padding: 28px 0;
  height: 265px;

  @include msd {
    border-right: 1px solid rgba($lightgrey, 0.6);
    padding: 24px 14px;
  }
}

.JobCardLoaderImage {
  &Wrapper {
    width: 25%;
    display: flex;
    justify-content: center;
    
    @include msd {
      margin-right: 8px;

      svg {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
}

.JobCardDetailWrapper {
  height: 100%;

  @include msd {
    width: 70%;
  }
}