.adContainer {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;

  .mainFunction,
  .ad {
    width: calc(50% - 5px);
  }

  .mainFunction {
    background-color: bisque;
    height: 100%;
  }

  .ad {
    display: flex;

    justify-content: space-between;

    &_container {
      background-color: rosybrown;
      animation: loading 2s ease infinite;
      width: calc(50% - 5px);
      height: 100%;
      overflow: hidden;
    }
  }
}

@keyframes loading {
  0% {
    background-size: 300% 100%;
    background-image: linear-gradient(100deg, #eee 40%, #fff 50%, #eee 60%);
    background-position: 100% 50%;
  }

  100% {
    background-size: 300% 100%;
    background-image: linear-gradient(100deg, #eee 40%, #fff 50%, #eee 60%);
    background-position: 0 50%;
  }
}
