@import 'styles/mixins.scss';
@import 'styles/variable.scss';

.SendTOPContainer {
  &_title,
  &_desc {
    text-align: center;

    &_text {
      color: #353535;
    }
  }

  &_main {
    text-align: center;
    &_field {
      width: 400px;
      height: 44px;

      @include sm {
        width: 100%;
      }
    }

    &_submit {
      width: 158px;
      height: 44px;
      margin-left: 10px !important;
      text-transform: capitalize;
      padding: 0 !important;

      @include sm {
        width: 100%;
        margin-left: 0px;
        margin-top: 25px;
      }
    }
  }

  &_sendMagicLink {
    width: 566px;
    margin: 0 auto;
    &_magicLink {
      color: #2379ea;
      border-bottom: 1px solid #2379ea;
      cursor: pointer;
    }

    @include sm {
      width: 100%;
    }
  }
}
