@font-face {
  font-family: "Product Sans";
  src: url(../styles/font/product-sans/ProductSansRegular.ttf);
}
@font-face {
  font-family: "Product Sans";
  src: url(../styles/font/product-sans/ProductSansBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Product Sans";
  src: url(../styles/font/product-sans/ProductSansBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Product Sans";
  src: url(../styles/font/product-sans/ProductSansItalic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url(../styles/font/Poppins-Bold.ttf);
  font-weight: 700;
}

html,
#next-app {
  width: 100%;
  height: 100%;
  background-color: #f5f6fa;
  cursor: default;
}

::selection {
  background-color: #1890ff !important;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  // font-family: 'Product Sans';
  font-family: "Product Sans", "ProductSans" !important;
}

ol,
ul,
dl {
  margin-bottom: 0 !important;
  margin: 0;
  padding: 0;
}

.css-ayyqgs-MuiInputBase-root-MuiOutlinedInput-root{
  font-size: inherit !important;
}