@font-face {
  font-family: 'ProductSans';
  src: url(/styles/font/product-sans/ProductSansRegular.ttf);
}

html,
#next-app {
  width: 100%;
  height: 100%;
  background-color: #f5f6fa;
  font-family: 'Product Sans', 'ProductSans' !important;
  cursor: default;
}
::selection {
  background-color: #1890ff !important;
}
ol,
ul,
dl {
  margin-bottom: 0 !important;
}
