@import 'styles/mixins.scss';
@import 'styles/variable.scss';

.MagicLink {
  &_title,
  &_desc {
    text-align: center;

    &_text {
      width: 551px;
      color: #353535;
      margin: 0 auto;
      text-align: left;
      padding-bottom: 20px;
      padding-top: 20px;

      @include sm {
        width: 100%;
        text-align: left;
      }
    }

    &_btn {
      width: 551px;
      height: 44px;
      text-transform: capitalize !important;

      @include sm {
        width: 100%;
      }
    }
  }
}
