.jobListOptionAlerts {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    margin-bottom: 16px;

    &Item {
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        letter-spacing: 0.02em;
        color: #353535;

        &:hover {
            cursor: pointer;
        }

        &:last-child {
            margin-left: 5px;
        }
    }


}