@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.fieldFromWrapper {
  border: 0.5px solid #bcbcbc;
  border-radius: 4px;
  padding: 25px 22px;
  margin-bottom: 25px;

  @include sm {
    border: none;
  }

  &_title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    &_tips {
      display: flex;
    }

    &_context {
      text-transform: capitalize;
      margin-right: 5px;
    }

    &_edit_icon {
      img {
        width: 14px;
        cursor: pointer;
      }
      img:nth-child(2) {
        margin-left: 25px;
      }
    }

    // &_toolTip {
    //   font-size: 16px;
    //   color: #ffffff;
    //   max-width: 450px;
    // }
  }

  &_button {
    margin-top: 24px;
    button {
      text-transform: none;
      min-width: 143px;
      height: 44px;
    }
    button:nth-child(2) {
      margin-left: 20px;
    }
  }
}
