@import 'styles/mixins.scss';

.content {
    display: flex;
    flex-direction: row;

    .table {
        margin-top: 40px;
        margin-left: calc(50vw - 585px);
        background: transparent;
        width: 954px;

        @include sm {
            margin-left: 0px;
            width: 100%;
        }
    }

    .qrCode {
        width: 254px;
        height: 108px;
        margin-top: 20px;
        background: #136FD3;
        border-radius: 10px;
        padding: 10px 16px;
        display: flex;
        flex-direction: row;

        .rightContainer {
            padding: 7px 14px;

            label {
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }

            p {
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }
        }
    }

    .rightContent {
        margin-top: 40px;
        height: 100%;
        width: 254px;
        margin-left: 6px;
        height: 600px;

        @include sm {
            display: none;
        }
    }
}

.searchForm {
    --box-shadow: none;
    width: 100vw;
    height: 153px;
    max-width: 100%;
    display: flex;
    // position: sticky;
    top: 0px;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: var(--box-shadow);
    padding-left: calc(50vw - 585px);
    transition: box-shadow ease-in 0.5s;

    &.isFixed {
        --box-shadow: 0px 0px 20px #bcbcbc;
    }

    @include sm {
        display: none;
    }

    .searchArea {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        width: fit-content;
        width: calc(50vw + 585px);
        height: 74px;
        padding-left: 24px;

        .location {
            width: 196px;
            height: 44px;
        }

        .search {
            width: 608px;
            height: 44px;
            // border: 1px solid #ccc;
            background: #fff;
            margin-left: 8px;
            // label {
            //   line-height: 100%;
            // }
            position: relative;
            top: 2px;
        }

        .searchButton {
            margin-left: 8px;
            text-transform: capitalize !important;
            background: #136fd3;
            color: #fff;
            width: 119px;
            height: 44px;
            border-radius: 10px;
        }

        .downloadApp {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            height: 36px;
            align-items: center;
            margin-left: 30px;
            margin-bottom: 3px;
            position: relative;

            &:hover {
                .popver {
                    display: block;
                }
            }

            &_phoneIconBorderPath,
            &_phoneIconHomePath {
                transition: all 0.2s ease;
            }

            .text {
                width: 116px;
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.0075em;
                color: #136fd3;
                margin-left: 10px;
            }

            .popver {
                position: absolute;
                left: -12px;
                top: 50px;
                background: #ffffff;
                border: 0.5px solid #bcbcbc;
                border-radius: 10px;
                padding: 14px 20px;
                z-index: 100;
                display: none;
                box-shadow: 0px 0px 14px #bcbcbc;

                &::after {
                    content: ' ';
                    position: absolute;
                    left: 20px;
                    top: -16px;
                    width: 0;
                    height: 0;
                    border-width: 8px;
                    border-style: solid;
                    border-color: transparent transparent #fff transparent;
                }

                img {
                    width: 104px;
                    height: 104px;
                }

                p {
                    padding: 6px 0 0 0;
                    text-align: center;
                    line-height: 20px;
                    margin: 0;
                }
            }
        }

        .downloadApp:hover .downloadApp_phoneIconBorderPath {
            fill: #136fd3;
        }

        .downloadApp:hover .downloadApp_phoneIconHomePath {
            stroke: white;
        }

        .loginButton {
            text-transform: capitalize !important;
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            align-items: center;
            letter-spacing: 0.0075em;
            color: #136fd3;
            width: 216px;
            height: 44px;
            border: 1.5px solid #136fd3;
            border-radius: 10px;
            margin-left: 9px;

            span {
                margin-left: 5px;
            }
        }
    }

    .filters {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: calc(50vw + 585px);
        height: 50px;
        padding-top: 20px;
        padding-left: 24px;

        .filterItems {
            height: 30px;
            width: 196px;
            margin-right: 8px;
        }

        .jobFunctions {
            width: 184px;
        }

        .moreButton {
            text-transform: capitalize !important;
            border-radius: 10px;
            width: 145px;
            border: 1.5px solid #136fd3;
            font-weight: 700;
            font-size: 14px;
        }

        .clearButton {
            text-transform: capitalize !important;
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            align-items: center;
            letter-spacing: 0.0075em;
            color: #707070;
            font-size: 14px;
            margin-left: 4px;
        }
    }
}

.searchFormMoblie {
    width: 100vw;
    height: 153px;
    max-width: 100%;
    display: none;
    // position: sticky;
    top: 0px;
    flex-direction: column;
    align-items: center;
    background: #fff;

    @include sm {
        display: flex;
    }

    .searchArea {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 24px;
        padding: 0px 19px;

        justify-content: flex-start;
        align-items: flex-end;
        height: 74px;

        .location {
            width: 124px;
            height: 44px;
        }

        .search {
            height: 44px;
            flex: 1;
            background: #fff;
            margin-left: 8px;
            position: relative;
            top: 2px;
        }
    }

    .filters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 155px;
        padding: 0px 19px;
        margin-top: 10px;

        .filterItems {
            height: 30px;
            width: 46%;
            margin-right: 8px;

        }

        .jobFunctions {
            width: 46%;
        }

        .moreButton {
            text-transform: capitalize !important;
            border-radius: 10px;
            width: 145px;
        }

        .clearButton {
            text-transform: capitalize !important;
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            align-items: center;
            letter-spacing: 0.0075em;
            color: #707070;

        }
    }
}

.uploadResumeButton {
    width: 100%;
    padding: 12px 13px;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
    background-position: center;

    &_button {
        width: 100%;
        border-radius: 10px !important;
        height: 48px;
        background-color: #136fd3 !important;
        color: #fff !important;
        font-size: 14px !important;
        line-height: 17px !important;
        text-transform: capitalize !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_button:hover {
        background-color: #136fd3 !important;
    }
}

.arrowContainer {
    .uploadResumeButton_button {
        padding: 6px 35px !important;
        background-repeat: no-repeat !important;
        background-position-y: 7px !important;
        background-position-x: 6px !important;
    }

    @include msd {
        padding: 10px !important;

        .uploadResumeButton_button {
            padding: 14px 35px !important;
            font-size: 16px !important;
        }
    }
}