@import 'styles/variable.scss';
@import 'styles/mixins.scss';

#hamburgerMenu {
  // background: #136fd3;
  border: 0;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: 0;
  }

  @include md {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

#hamburgerMenu input {
  display: block;
  width: 17px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the span */
}

#hamburgerMenu span {
  display: block;
  width: 12px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;

  background: #4E5969;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

  &:first-child {
    transform-origin: 0% 0%;
  }

  &:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
}

.active {
  & span {
    opacity: 1;
    transform: rotate(-45deg) translate(2px, -1px);
  }

  & span:nth-last-child(3) {
    transform: rotate(45deg) translate(4px, -1px);
  }

  & span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
}

.profile {
  &Avatar {
    width: 27px;
    height: 27px;
    border-radius: 50%;
  }
}

.hamburgerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  &_getStarted {
    height: 35px;
    width: 116px;
    border: 1.5px solid #ffffff;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
  }

  .mobile {
    &_menu {
      &_off {
        //width: 27px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width 0.3ms ease;
        margin-left: 16px;
      }

      &_open {
        //width: 18px;
      }
    }
  }
}
