@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.searchSectionContainer {
  @extend .GlobalContainer;
}

.searchSection {
  position: relative;
  height: 209px;
  background-color: $white-1;
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  z-index:10;

  @include msd{
    height:360px;
  }

  @include sm{
    height: 360px;
  }

  .searchAndLocationContainer {
    @extend .GlobalContainer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include msd{
      flex-direction: column;
    }
  }

  .filtersContainer {
    @extend .GlobalContainer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 24px;

    & > * {
      margin-right: 16px;
    }

    @include msd{
      display: none;
    }
  }

  &.isSticky {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $white-1;
    z-index: 1;
  }
}

.searchSectionExpanded {
  @extend .searchSection;
  height: 310px;
  z-index:10;

  @include msd{
    height: 100%;
  }
}

.searchField {
  // height: 40px;
  width: 750px;

  @include msd{
    width:100%;
    margin-bottom: 24px !important;
  }
}
.locationField {
  // height: 40px;
  width: 230px;
  margin-left: 16px;

  @include msd{
    width:100%;
    margin-bottom: 24px;
    margin-left: 0;
  }
}
.searchButton {
  margin-left: 16px !important;
  width: 115px;

  @include msd{
    width:100%;
    margin-left: 0 !important;
  }
}
.filtersButton {
  width: 100%;
  margin-top: 24px;
}
.sortField {
  width: 150px;
}

.specializationField{
  width:332px;
}

.quickLinkSection {
  display: none;
}

.quickLinkSectionExpanded {
  display: flex;
  flex-direction: column;
  margin: 24px 0 0;

  @include sm{
    display: none;
  }
}

.quickLinkTitle {
  display: flex;
  letter-spacing: 1px;
  margin-right: 34px;

  @include msd {
    white-space: pre;
  }
}

.popularSearchContainer {
  @extend .GlobalContainer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;

  @include msd {
    align-items: flex-start;
  }

  .popularSearch {
    display: flex;
    flex-wrap: wrap;

    .link {
      margin-right: 24px;

      & > span {
        letter-spacing: 1px;
      }

      &:hover {
        cursor: pointer;
        color: $primaryBlue;
        text-decoration: underline;

        & > * {
          color: $primaryBlue;
          // font-weight: bold;
          transition: 100ms all ease-in-out;
        }
      }

      @include msd {
        margin-bottom: 10px;
      }
    }
  }
}

.moreFiltersSection{
  height:50px;
  width:100%;
  border-bottom: 1px solid $white-2;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .moreFiltersText{
    margin:0 10px;
  }

  &:hover{
    cursor:pointer;
  }
}

.topCompaniesContainer {
  @extend .GlobalContainer;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  @include msd {
    align-items: flex-start;
  }

  .topCompanies {
    display: flex;
    flex-direction: row;
  }

  .topCompaniesLogo {
    display: flex;
    margin-right: 32px;
    box-shadow: $box-shadow-1;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: 100ms all ease-in-out;
    }
  }
}

.moreFiltersBtn {
  text-transform: capitalize;
  letter-spacing: 1px;
}

.resetFilterBtnMobile {
  text-align: center;
  background-color: $white-1;
}

.jobListSection {
  margin-top: 48px;

  @include sm {
    margin-top: 21px;
  }
}

.toolTip {
  display: flex;
}