.main {
  margin: 0 auto;
  text-align: center;
}

.message {
  margin: 20px auto;
  max-width: 60%;

  color: #121212;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
