.culture_wrapper{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 24px;
  width: 368px;
  background: #FFFFFF;
  border: 1px solid #E5E6EB;
  border-radius: 8px;
}
.culture_title{
  margin-bottom: 8px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.culture_content{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.0075em;
  color: #4E5969;
  padding-bottom: 24px;
  border-bottom: 1px solid #E5E6EB;
}
.subtitle{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #121212;
}