@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.VerifyMailAndBindEmail {
  .accessSettingsContainer_fromWrapper {
    &_verifyContainer {
      margin-top: 20px;
    }

    &_edit {
      &_input {
        margin-top: 20px;
        width: 100%;
      }

      &_wrapper {
        display: flex;
        justify-content: space-between;
        &_block {
          width: 49%;
        }
      }
    }
  }

  &_button {
    margin-top: 24px;
    button {
      text-transform: none;
      min-width: 143px;
      height: 44px;
    }
    button:nth-child(2) {
      margin-left: 20px;
    }
  }

  .stepFieldRequired {
    color: $red;
    display: block;
    float: right;
    margin-top: 3px;
  }
}
