@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.ReadMore {
  &Action {
    margin-top: 5px;

    span {
      display: inline;
      padding: 4px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}