@import 'styles/variable.scss';
@import 'styles/mixins.scss';
.resumeTitle {
  display: flex;
  align-items: center;
}
.resume_title_text {
  flex: 1;
  //styleName: title/h3 24px;
  font-family: Product Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.resume_subtitle {
  display: block;
  margin-bottom: 20px;
}
.add {
  width: 40px;
  text-align: center;
}
.tab_content_wrapper {
  padding: 24px;
  width: 100%;
}

.upTopFiles {
  font-family: Product Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: 0.09px;
}
.split {
  border-bottom: 1px solid var(--e-4-e-4-e-4, #e4e4e4);
  margin-top: 30px;
  margin-bottom: 60px;
}
.preview_title {
  color: var(--bossjob-blue, #136fd3);

  /* title/h3 24px */
  font-family: Product Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.preview_subtitle {
  color: var(--general-black, #353535);
  font-family: Product Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 30px;
}

.resumePreview {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.resumeTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resumeTemplateItem {
  width: 381px;
  height: auto;
  // box-shadow: $box-shadow-2;

  @include msd {
    width: 320px;
    height: auto;
  }

  @include xsm {
    width: 100%;
    height: auto;
  }
}

.jobPreferencesSectionDetail {
  position: relative;

  .jobPreferencesSectionDetailList {
    margin-bottom: 30px;
  }
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;

  &P {
    @extend .iconWrapper;
    position: absolute;
    right: 10px;
    top: 0px;
  }

  & > * {
    display: flex;
  }

  // &:first-child {
  //   margin-right: 18px;
  // }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f1f1f1;
    z-index: -1;
    opacity: 0;
    transition: 0.2s ease-out;
  }

  &:hover {
    cursor: pointer;

    &:after {
      opacity: 1;
    }
  }

  &Double {
    display: flex;
    align-items: center;
  }
}

// Embla
.embla {
  position: relative;
  // padding: 20px;
  // max-width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  display: flex;
  flex-direction: column;

  @include sm {
    padding: 10px;
  }

  &Highlight {
    @extend .embla;
    padding: 24px 0 0;
  }
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
}

.emblaContainer {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;

  &Double {
    @extend .emblaContainer;
    margin: 0 25%;
  }
}

.emblaSlide {
  position: relative;
  padding-left: 24px;
  flex: 0 0 50%;

  &Highlight {
    @extend .emblaSlide;
    padding-left: 0;
    display: flex;
    align-items: stretch;

    &:nth-child(3) {
      padding: 0 16px 0 24px;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  @include msd {
    flex: 0 0 100%;
    padding-left: 1vw;

    &:first-child {
      padding-left: 0;
    }
  }
}

.emblaSlideInner {
  position: relative;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
}

.emblaDots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;

  @include msd {
    display: none;
  }
}

.emblaDot {
  background-color: $lightgrey;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 7.5px;
  display: flex;
  align-items: center;
  display: none;

  &:hover {
    background-color: $primaryBlue;
    @include transition(0.3s, ease-in-out);
  }

  &Active {
    @extend .emblaDot;
    background-color: $primaryBlue;
  }

  @include msd {
    margin: 0 5px;
    display: block;
  }
}

.emblaExplore {
  color: $primaryBlue;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  img {
    margin-top: 3px;
    margin-left: 6px;
  }
}

.slidesControl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;

  &Item {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 50%;

    @include msd {
      top: 40%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &Right {
    right: 0;
  }

  &Left {
    left: 10px;
    transform: translate(50%, 50%) rotate(180deg);
  }

  @include msd {
    display: block;
  }
}

.slidesControlHighlight {
  display: block !important;
  position: absolute;
  top: 50%;
  right: 0;
  height: unset;
  width: unset;

  &Item {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  &Right {
    right: 0;
  }
}

.slidesLeftControlHighlight {
  display: block !important;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}

.downloadResumeButton {
  // display: none;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &Active {
    @extend .downloadResumeButton;
    // display: flex;
    transition: all ease 0.2s;

    &:hover {
      cursor: pointer;
    }
  }

  @include msd {
    // display:none;
    display: flex;
    // position: absolute;
    // top: unset;
    // bottom: 25px;
    // left: 50%;

    // &:hover {
    //   cursor: pointer;
    // }
  }

  &Mobile {
    display: flex;
    align-self: center;
    width: 143px;
    margin-top: 24px;
  }

  &:hover {
    cursor: pointer;
  }
}

.downloadIcon {
  padding-right: 5px;
}

.downloadText {
  padding-right: 8px;
}

.readMoreDescriptionWrapper {
  margin-bottom: 16px;
  word-break: break-all;
}

.skill {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &Chip {
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: #1976d2 !important;
  }
}

.disabledOpacity {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
