.container {

    overflow: hidden;
    border-radius: 10px;
    background: transparent;
    padding-left: 24px;

    .jobContainer {
        margin-bottom: 15px;
        width: 894px;
        height: 170px;
    }
}