@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.job {
  display: flex;
  padding: 0 7%;
  position: relative;
}

.jobList {
  width: 30%;

  &Option {
    height: 68px;
    border-top: 1px solid rgba($lightgrey, 0.6);
    border-bottom: 1px solid rgba($lightgrey, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 9%;
    position: absolute;
    width: 32.42%;
    left: 0;
    background-color: $white-3;
  }

  &OptionAlerts {
    display: flex;
    align-items: center;

    span {
      margin-right: 15px;
      color: $darkgrey;
    }

    &Item {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &Content {
    margin-top: 68px;
  }
}

.jobDetail {
  border: 1px solid rgba($lightgrey, 0.6);
  width: 56%;
  padding: 0 50px 100px;

  &Option {
    height: 68px;
    position: relative;
  }

  &OptionImage {
    padding: 6px;
    position: absolute;
    top: 10px;
    right: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &OptionList {
    position: absolute;
    top: 45px;
    right: 14px;
    background-color: $white-3;
    box-shadow: $box-shadow-1;
  }

  &OptionItem {
    padding: 12px 20px;
    display: block;
    
    &:hover {
      cursor: pointer;
      background-color: $white-1;
    }
  }

  &Header {
    display: flex;
    justify-content: space-between;
  }

  &Image {
    width: 78px;
    height: 78px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba($lightgrey, 0.2);
    border-radius: 10px;
  }

  &Info {
    width: 80%;
    margin-left: 30px;
  }

  &Title {
    display: block;
  }

  &Company {
    display: block;
    margin: 16px 0;
  }

  &Buttons {
    display: flex;
    margin-top: 16px;

    button {
      margin-right: 20px;
    }
  }

  &PostedAt {
    text-align: right;
    display: block;
    margin-top: 28px;
  }
}

.jobDetailPref {
  border-top: 1px solid $lightgrey;
  border-bottom: 1px solid $lightgrey;
  background-color: $white-1;
  padding: 20px 30px;
  margin-top: 10px;

  &List {
    list-style-type: none;
    display: flex;
  }

  &Item {
    width: 25%;
    display: flex;
    align-items: flex-start;
  }

  &Text {
    margin-left: 10px;
    span {
      display: block
    }
  }

  &Value {
    margin-top: 2px;
  }
}

.jobDetailSection {
  margin-top: 26px;
  margin-bottom: 4px;

  &Title {
    display: block;
  }

  &Body {
    margin-top: 16px;
    display: block;
  }

  &SubTitle {
    margin-top: 18px;
    display: block;
  }

  &SubBodyLink {
    color: $primaryBlue;
    text-decoration: underline;
  }
}

.jobDetailBenefits {
  &List {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  &Item {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 12px 0 10px;
  }

  &Text {
    margin-left: 28px;
  }
}

.jobDetailSkills {
  &List {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
  }

  &Item {
    background-color: rgba($lightgrey, 0.2);
    border-radius: 16px;
    padding: 2px 16px;
    margin-right: 28px;
    margin-bottom: 16px;
  }

  &Text {
    color: $darkgrey;
  }
}

.aboutCompany {
  border: 1px solid $lightgrey;
  border-radius: 4px;
  padding: 21px 42px 15px;
  margin-top: 34px;

  span {
    display: block;
  }

  &Header {
    margin-bottom: 16px;
  }

  &Title {
    margin-bottom: 12px;
    display: block;
  }

  &Detail {
    display: flex;
    margin-bottom: 16px;

    span {
      margin-right: 26px;
      position: relative;
      
      &:not(:last-child) {
        &::after {
          position: absolute;
          content: '';
          height: 18px;
          width: 1px;
          background-color: $lightgrey;
          top: 0;
          right: -13px;
        }
      }
    }
  }

  &More {
    text-align: right;
    margin-top: 5px;

    span {
      display: inline;
      padding: 4px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.jobAlerts {
  &List {
    list-style-type: none;
  }

  &Item {
    padding: 15px 0 30px;

    &:not(:last-child) {
      border-bottom: 1px solid rgba($lightgrey, 0.5);
    }

    &:not(:first-child) {
      padding: 27px 0 12px;
    }
  }

  &ItemHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &ItemBody {
    span {
      display: block;
      margin-bottom: 2px;
    }
  }

  &ItemAction {
    display: flex;
    align-items: center;

    div {
      margin-left: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.jobModalBody {
  padding: 20px 40px;
}

.jobManageJobAlert {
  &Header {
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;

    & > div {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &Group {
    margin-top: 10px;

    label {
      margin-bottom: 4px;
    }
  }

  &GroupHeader {
    margin-bottom: 4px;
  }
}

.jobModal {
  &EnableAlert {
    &:hover {
      cursor: pointer;
    }
  }
}

.share {
  padding-bottom: 25px;

  &List {
    list-style-type: none;
    margin: 14px 0 45px;
    padding: 0;
    display: flex;
  }

  &Item {
    margin-right: 70px;
  }

  &ItemLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;

    &::before,
    &::after {
      height: 0;
    }
  }

  &ItemImg {
    margin-bottom: 15px;
  }

  &Footer {
    position: relative;
  }

  &FooterTooltip {
    position: absolute;
    top: -5px;
    right: 0;
    background-color: #3eb993;
    padding: 1px 6px 3px;
    border-radius: 4px;

    &::after {
      position: absolute;
      content: '';
      bottom: -5px;
      right: 12px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.9px 4px 0 4px;
      border-color: #3eb993 transparent transparent transparent;
    }
  }

  &FooterLink {
    position: relative;
    padding-right: 45px;
    background-color: #f4f3f3;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
  }

  &FooterLinkText {
    white-space: pre;
    font-size: $mobile-font-size-sm;
    color: $darkgrey;
    width: 100%;
    border: none;
    background: transparent;
    padding: 14px;

    &:focus {
      outline: none;
    }

    @include md {
      font-size: $desktop-font-size-sm;
    }
  }

  &FooterCopy {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 100%;
    background-color: #f4f3f3;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.report {
  &Item {
    padding: 0 40px;
    position: relative;

    span {
      display: block;
      padding: 35px 0;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba($lightgrey, 0.2);
    }
    
    &:not(:last-child) {
      span {
        border-bottom: 1px solid rgba($lightgrey, 0.5);
      }
    }
  }

  &ItemIcon {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }
}

.reportDetail {
  &Item {
    padding: 0 40px;

    &:not(:last-child) {
      .reportDetailRadioGroup {
        border-bottom: 1px solid rgba($lightgrey, 0.5);
      }
    }
  }

  &Label {
    padding: 35px 0;
    margin-left: 6px;

    span {
      display: block;
      line-height: 1.5;
    }
  }
}

.jobAds {
  width: 14%;
  background-color: $white-1;
  margin: 10px;
}