@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.textEditor {
  width: 500px;
  padding:2%;
  border-color: transparent;
}

.toolBar {
  width: 100%;
  border-radius: 5px 5px 0 0;
  border: 1px solid $lightgrey;
  background-color: white;
  border-bottom: none;
}

.toolBarIcon{
    display:inline-block;
    width:40px;
    height:40px;
    padding:10px; 
}

.editable {
  width: 100%;
  height: 165px;
  padding:10px;
  background-color: white;
  border: 1px solid $lightgrey;
  border-radius: 0 0 5px 5px;
  overflow-y: scroll;

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}
