@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.JobDetail {
  position: relative;

  &Content {
    padding: 0 25px 250px;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    width: 100%;
    background-color: $white-3;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $white-3; 
      border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      background: $white-2; 
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $white-2; 
    }

    &.isSticky {
      position: fixed;
      width: 760px;
      top: 40px;
    }
  }

  &Option {
    height: 40px;
    position: relative;

    &.isSticky {
      height: 40px;
      position: fixed;
      top: 0;
      z-index: 1;
      background-color: $white-3;
      width: 760px;
    }
  }

  &OptionImage {
    padding: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  &OptionList {
    position: absolute;
    top: 45px;
    right: 40px;
    background-color: $white-3;
    box-shadow: $box-shadow-1;
    z-index: 1;
  }

  &OptionItem {
    padding: 12px 20px;
    display: block;
    
    &:hover {
      cursor: pointer;
      background-color: $white-1;
    }
  }

  &Header {
    display: flex;
    justify-content: space-between;
  }

  &Image {
    width: 78px;
    height: 78px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba($lightgrey, 0.2);
    border-radius: 10px;
  }

  &Info {
    width: 80%;
    margin-left: 30px;
  }

  &Title {
    display: block;
  }

  &Company {
    display: block;
    margin: 16px 0;
  }

  &ButtonsWrapper {
    margin-top: 16px;
  }

  &Buttons {
    display: flex;
    align-items: center;

    button {
      margin-right: 20px;
    }
  }

  &Status {
    color: #F30000;
    margin-right: 20px;
    display: flex;
    align-items: center;

    div {
      margin-right: 10px;
    }
  }

  &PostedAt {
    text-align: right;
    display: block;
    margin-top: 28px;
  }
}

.JobDetailPref {
  background-color: $white-1;
  padding: 25px;
  margin-top: 10px;

  &List {
    list-style-type: none;
    display: flex;
  }

  &Item {
    width: 25%;
    display: flex;
    align-items: flex-start;
  }

  &Text {
    margin-left: 10px;
    span {
      display: block
    }
  }

  &Value {
    margin-top: 2px;
  }
}

.JobDetailSection {
  margin-top: 26px;
  margin-bottom: 4px;

  &Title {
    display: block;
  }

  &Body {
    margin-top: 16px;
    display: block;
    padding: 0 20px;
  }

  &SubTitle {
    margin-top: 18px;
    display: block;
  }

  &SubBodyLink {
    color: $primaryBlue;
    text-decoration: underline;
  }
}

.JobDetailBenefits {
  &List {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  &Item {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 12px 0 10px;
  }

  &Text {
    margin-left: 28px;
  }
}

.JobDetailSkills {
  &List {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
  }

  &Item {
    background-color: rgba($lightgrey, 0.2);
    border-radius: 16px;
    padding: 2px 16px;
    margin-right: 28px;
    margin-bottom: 16px;
  }

  &Text {
    color: $darkgrey;
  }
}

.aboutCompany {
  border: 1px solid $lightgrey;
  border-radius: 4px;
  padding: 21px 42px 15px;
  margin-top: 34px;

  span {
    display: block;
  }

  &Header {
    margin-bottom: 16px;
  }

  &Title {
    margin-bottom: 12px;
    display: block;
  }

  &Detail {
    display: flex;
    margin-bottom: 16px;

    span {
      margin-right: 26px;
      position: relative;
      
      &:not(:last-child) {
        &::after {
          position: absolute;
          content: '';
          height: 18px;
          width: 1px;
          background-color: $lightgrey;
          top: 0;
          right: -13px;
        }
      }
    }
  }

  &More {
    text-align: right;
    margin-top: 5px;

    span {
      display: inline;
      padding: 4px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.JobDetailApplication {
  &Wrapper {
    border: 1px solid $primaryBlue;
    border-radius: 4px;
    margin: 20px 0;
    padding: 20px;
  }

  &Timeline {
    padding: 0;
    margin-top: 12px;

    li {
      &::before {
        flex: none;
        padding: 0;
      }

      &:last-child {
        min-height: 0;
      }
    }
  }

  &TimelineFirst {
    background-color: $primaryBlue;
    box-shadow: $primaryBlue;
  }
}