.search_input_layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 12px;
  width: 777px;
  height: 68px;
  background: #ffffff;
  border: 1px solid #c9cdd4;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.search_button {
  display: flex;
  height: 68px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
  background: var(--main-color-blue-blue-012378-e-5, #2378e5);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s linear;
  // &:hover {
  //   background-color: lighten($color: #2378e5, $amount: 10);
  // }

  &:active {
    background-color: lighten($color: #2378e5, $amount: 20);
  }
}
.button_loading {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.search_input_wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 32px;
}
.location_selector_wapper {
  min-width: 128px;
}
.location_input {
  border: none;
  appearance: none;
  outline: none;
  position: relative;
}
.location_input_wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}
.location_input_border {
  height: 23px;
  border-right: 1px solid #c9cdd4;
  margin: 0 12px;
}
.job_search_container {
  display: flex;
  align-items: center;
  height: 68px;
  flex: 1;
}
.job_search_input {
  border: none;
  appearance: none;
  outline: none;
  flex: 1;
  position: relative;
}
.job_prefix {
  margin-right: 10px;
}
.location_arrow {
  width: 7px;
  height: 7px;
  border-right: 1px solid #4e5969;
  border-bottom: 1px solid #4e5969;
  transform: rotate(45deg);
  position: absolute;
  right: 35px;
}
.content_layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1136px;
  margin: 0 auto;
  min-height: 300px;
  position: relative;
}
.loading_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.noData {
  width: 1136px;
  margin: 0 auto;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  width: 536px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #1d2129;
}

.search_card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 12px;

  width: 560px;
  min-height: 125px;
  background: #f7f8fa;
  border-radius: 8px;

  transition: all 0.3s linear;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #c9cdd4;
    .chat_now {
      opacity: 1;
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  width: 100%;
}
.salary {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #2378e5;
}

.tags {
  display: flex;
}
.tag_item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 10px;
  min-width: 67px;
  height: 25px;
  background: #ffffff;
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #4e5969;
  margin-right: 8px;
}

.footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.name {
  display: flex;
  align-items: center;
}
.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 7px;
  position: relative;
  :global {
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
  .status {
    border-radius: 50%;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #0ebd5c;
    border: 1px solid #ffffff;
    flex: none;
    bottom: 0;
    right: 0;
  }
}
.chat_footer {
  display: flex;
  align-items: center;
}
.chat_now {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-width: 73px;
  min-height: 28px;
  background: #2378e5;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  text-align: right;
  letter-spacing: 0.0075em;

  /* Neutral color/text/纯白文字 */

  color: #ffffff;
  opacity: 0;
  transition: all 0.3s linear;
  margin-left: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.filter_layout {
  width: 1136px;
  margin: 0 auto;
  min-height: 90px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 24px;
}
.filter_tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 20px;
  min-width: 57px;
  height: 39px;
  border-radius: 8px;
  color: #1d2129;
  margin-right: 20px;
  background: #f7f8fa;
  cursor: pointer;
  margin-bottom: 10px;
  &:hover {
    background-color: #5398f5;
    color: #ffffff;
  }
}
.filter_split {
  width: 100%;
  border-bottom: 1px solid var(--neutral-color-border, #f2f3f5);
  margin-bottom: 24px;
}
.active {
  background: #2378e5;
  color: #ffffff;
}
