@import 'styles/variable.scss';

.JobTag {
  display: inline;
  margin-right: 10px;
  padding: 3px 8px 4px;
  border-radius: 10px;
  background-color: rgba($pink, 0.15);

  span {
    color: $pink;
  }

  &.urgent {
    background-color: rgba(#FF4747, 0.15);

    span {
      color: #FF4747;
    }
  }

  &.featured {
    background-color: rgba(#C7DFFF, 1);

    span {
      color: #136FD3;
    }
  }
}