@import 'styles/variable.scss';

.JobTag {
  display: inline;
  padding: 3px 8px 4px;
  border-radius: 10px;
  background-color: rgba($pink, 0.15);

  span {
    color: $pink;
  }

  &.urgent {
    background-color: rgba($red, 0.15);

    span {
      color: $red;
    }
  }

  &.featured {
    background-color: rgba($cyan, 0.15);

    span {
      color: $cyan;
    }
  }
}