@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.container {
  width: 100%;
}

.form {
  .field:not(:first-child) {
    margin-top: 24px;
  }

  .field {
    &Required {
      color: $red;
    }
  }
}

.fullWidth {
  width: 100% !important;
}

.editor {
  margin-top: 15px;

  div[class*='TextEditor_textEditor'] {
    padding: 0;
  }

  & > * {
    padding: 0;

    @include msd {
      width: 100%;
    }
  }

  p {
    font-size: 14px;
  }
}