@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.StepForm {
  margin-top: 20px;
}

.StepFullwidth {
  width: 100%;
  margin-top: 20px;
}

.StepNotice {
  display: flex;
  justify-content: space-between;
  background-color: rgba($primaryBlue, 0.1);
  padding: 10px;
  border-radius: 4px;

  span {
    display: block;
    width: 90%;
    line-height: 20px;
    color:rgb(13, 60, 97);
  }
}

.StepField {
  margin-top: 20px;

  &Header {
    margin-bottom: 10px;
  }
}

.Step1 {
  &Contact {
    display: flex;
    justify-content: space-between;
  }
  &ContactCountry {
    width: 20%;
  }
  &ContactNumber {
    width: 78%;
  }

  &ContactNumberField {
    width: 100%;
  }

  &ContactDigits {
    margin-top: 4px;
    margin-left: 15px;
  }

  &Salary {
    margin-top: 20px;
  }

  &SalaryRanges {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &SalaryRange {
    width: 48%;
  }

  &Subscribe {
    margin-top: 20px;
  }
}

.Step2 {
  &Caption {
    text-align: center;
    display: block;
  }

  &Upload {
    margin-top: 20px;
    text-align: center;

    span {
      display: block;
    }
  }

  &UploadError {
    margin-bottom: 10px;
  }

  &UploadAllowed {
    margin-top: 10px;
  }

  &UploadDivider {
    display: block;
    margin: 30px 0;
    text-align: center;
  }

  &Create {
    text-align: center;
  }
}

.Step3 {
  &ExpList {
    border-bottom: 1px solid $lightgrey;
    padding-bottom: 20px;
  }

  &ExpItem {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    p {
      margin: 0;
    }
  }

  &ExpActions {
    display: flex;
  }

  &ExpActionItem {
    margin-left: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &Date {
    display: flex;

    & > * {
      width: 30%;
      margin-right: 30px;
    }
  }

  &Editor {
    margin-top: 20px;

    & > * {
      padding: 0;
    }
  }
}