@import 'styles/mixins.scss';

.jobListOptionAlerts {
    display: flex;
    flex-direction: row;
    // padding-left: 24px;
    margin-bottom: 16px;
    margin-top: 16px;

    @include sm {
        padding-left: 24px;
    }

    &Main {
        background-color: #ffffff;
        display: flex;
        flex: 1;
        padding: 12px 13px;
        border-radius: 8px;
        justify-content: center;
        border: 1px solid #579BF5;
    }

    &Item {
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        letter-spacing: 0.02em;
        color: #353535;

        &:hover {
            cursor: pointer;
        }

        &:last-child {
            margin-left: 5px;
        }
    }


}