.resumeName {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #353535;
}

.uploadButton {
    width: 100%;
    // border: 1px solid #136FD3;
    // border-radius: 10px;
}

.item {
    height: 30px;
    margin-bottom: 10px;
}

.bottomText {
    margin-top: 30px;
}