@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.userOverview {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 40px 0px;
  // border: 1px solid $lightgrey-2;
  border-radius: 8px;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  padding-bottom: 20px;

  @include msd {
    padding: 0;
    border: none;
    // margin-bottom: 8px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 0;
  }

  &EditIcon {
    position: absolute;
    top: 10px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #f1f1f1;
      z-index: -1;
      opacity: 0;
      transition: 0.2s ease-out;
    }

    &:hover {
      cursor: pointer;
      &:after {
        opacity: 1;
      }
    }

    @include msd {
      top: 0;
      right: 0;
    }
  }

  &Avatar {
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
  }

  &Name {
    margin-bottom: 16px;
    color: #000;
    font-family: Product Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 58px;
    padding: 0 20px;
    text-align: center;
    font-size: 17px !important;
    @include text_overflow;
  }
  .userOverviewNameLayout {
    @include text_overflow;
    width: 100%;
  }
  .userOverviewNameLayoutVip {
    margin-bottom: 0;
  }

  &Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    &Detail {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      width: 100%;
      padding: 20px;
      gap: 10px;
      align-self: stretch;
      width: 100%;
      border-bottom: 1px solid var(--e-4-e-4-e-4, #e4e4e4);

      & > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & > img {
        margin-right: 6px !important;
      }
    }

    &About {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
      padding: 0 20px;

      & > * {
        display: flex;
      }

      .readMore {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        word-break: break-word;
      }
    }
  }
}

.profileText {
  font-size: 17px;
  @include respond-to(phone) {
    font-size: 17px !important;
  }
}
.vipAvatar {
  position: relative;
}
.vipImage {
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  .btn {
    position: absolute;
    top: 33px;
    left: 12px;
    border-radius: 4px;
    height: 23px;
    background: linear-gradient(91deg, #fff4cb 0%, #ffe272 100%);
    text-transform: capitalize;
    box-shadow: none;
    font-size: 12px;
    font-weight: 700;
    color: #346ae3;
  }
  .desc {
    position: absolute;
    left: 12px;
    top: 63px;
    width: 147px;
    line-height: 19px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }
  img {
    width: 100%;
    max-width: 100% !important;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .vipImage {
    display: none;
  }
}
.vipShareWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  .vipShareModal {
    position: relative;
    width: 1130px;
    //height: 647px;
    padding: 45px;
    box-sizing: border-box;
    background-image: url('./vip_share_bg.jpg');
    background-size: cover;
    .close {
      position: absolute;
      top: 30px;
      right: 45px;
      cursor: pointer;
    }
    h1 {
      line-height: 1;
      font-size: 44px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 10px;
      margin-top: 23px;
    }
    h3 {
      font-size: 22px;
      font-weight: 700;
      margin: 0;
    }
    .main {
      display: flex;
      justify-content: space-between;
      padding: 40px 0 30px;
      .links {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 15px;
        color: #004aff;
        font-size: 16px;
        line-height: 23px;
        text-decoration-line: underline;
      }
      .left {
        position: relative;
        width: 623px;
        p {
          position: absolute;
          top: 28px;
          text-align: center;
          width: 100%;
          color: #fff;
          font-size: 20px;
          line-height: 1.5;
          margin: 0;
          padding: 0;
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .right {
        width: 380px;
        .desc {
          font-size: 18px;
          font-weight: 700;
        }
        .featureContent {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: auto;
          p {
            display: flex;
            width: 150px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 20px 20px 30px;
            height: 168px;
            text-align: center;
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.7);
            background: rgba(255, 255, 255, 0.2);
            img {
              margin-bottom: 30px;
            }
          }
        }
        .copyButton {
          color: #511e1e;
          font-size: 16px;
          text-transform: none;
          font-weight: 700;
          height: 67px;
          width: 100%;
          border-radius: 10px;
          background: linear-gradient(117deg, #ffe064 0%, #ffc247 100%);
          box-shadow: 0px 22px 21px -11px rgba(255, 191, 58, 0.29);
        }
      }
    }
  }
}
