@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.profileFormTitleText {
  color: var(--general-black, #353535);
  font-family: Product Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.profile {
  // max-height: 50vh;

  &Form {
    margin-top: 20px;

    &Group {
      display: flex;
      margin-bottom: 20px;
      @include msd {
        flex-direction: column;
        margin-bottom: 20px;
      }

      &Field {
        display: flex;
        width: 100%;
        flex-direction: column;
      }
    }

    &Title {
      margin-bottom: 20px;
    }

    &Input {
      flex-grow: 1;

      @include msd {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.descriptionField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footerButton {
  @include sm {
    width: 100%;
  }
}

.requiredField {
  color: $red;
}

.fieldError {
  display: flex;
  margin: 8px 0 0 0;
}
