@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.profile {
  // max-height: 50vh;

  &Form {
    margin-top: 24px;

    &Group {
      display: flex;
      margin-bottom: 24px;
      @include msd {
        flex-direction: column;
        margin-bottom: 24px;
      }

      &Field{
        display:flex;
        width:100%;
        flex-direction: column;
      }
    }

    &Title {
      margin-bottom: 24px;
    }

    &Input {
      flex-grow: 1;
      
      @include msd {
        margin-bottom: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.descriptionField{
  display:flex;
  flex-direction: column;
  width:100%;
}

.footerButton{
  @include sm{
    width:100%;
  }
}

.requiredField{
  color:$red;
}

.fieldError{
  display:flex;
  margin:8px 0 0 0;
}
