@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.searchFilter {
  display: none;
  position: absolute;
  top: 77px;
  right: 0;
  width: 600px;
  height: calc(100vh - 77px);
  z-index: 12;
  background-color: $white-3;
  box-shadow: $box-shadow-1;

  &.isShow {
    display: block;
  }

  &.isShow.displayQuickLinks{
    display: block;
    @extend .searchFilter;

    .searchFilterBody {
      height: calc(100vh - 264px);

      @include msd {
        height: calc(100vh - 183px);
      }
    }
  }

  &.isShow.displayQuickLinks.isShowingEmailAlert{
    @extend .searchFilter;
    top: 127px;
    height: calc(100vh - 127px);
  }

  &Header {
    display: flex;
    padding: 20px 25px;
    justify-content: space-between;
    background-color: $white-1;
  }

  &Close {
    &:hover {
      cursor: pointer;
    }
  }

  &Body {
    padding: 10px 25px 77px 25px;
    height: calc(100vh - 274px);
    overflow-y: scroll;


    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $white-3; 
      border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      background: $white-2; 
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $white-2; 
    }

    @include msd {
      height: calc(100vh - 100px);
    }
  }

  &Section {
    padding: 15px 0 10px;

    &:not(:first-child) {
      border-top: 1px solid $lightgrey;

      @include msd {
        border: none;
      }
    }
  }

  &Accordion {
    span {
      text-transform: capitalize;
    }

    img {
      display: none;
    }

    input {
      width: 16px;
      height: 16px;
    }
  }

  &Options {
    padding: 16px 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    label {
      width: 50%;
      margin-bottom: 16px;
      display: flex;
      align-items: center;

      span {
        margin-left: 15px;
      }

      &:hover {
        cursor: pointer;
      }

      @include msd {
        align-items: flex-start;

        span {
          margin-left: 10px;
          line-height: 1.2;
        }

        input {
          margin-top: 1px;
        }
      }

      @include msd {
        width: 100%;
        
        span {
          padding-right: 4px;
        }
      }
    }

    @include msd {
      flex-direction: column;
    }

    .searchFilterOptionSub{
      margin-left:25px;
    }
  }

  &OptionsColumn {
    flex-direction: column;
  }

  &Footer {
    padding: 10px 25px;
    border-top: 2px solid $lightgrey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $white-3;
    z-index: 1;
  }

  &Reset {
    margin-right: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  @include msd {
    width: 100%;
    top: 0;
    z-index: 9999;
    position: fixed;
    height: 100%;
    height: --webkit-fill-available;
    background-color: $white-3;
  }
}

.sortField{
  margin-top:20px !important;
  width:100%;
}
