.main {
    width: 894px;
    height: 170px;
    position: relative;

    .container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        background: #fff;
        position: relative;
        transition: box-shadow 0.3s ease-in;
        cursor: pointer;

        &:hover {
            box-shadow: 6px 7px 7px #ccc;
        }

        .topContainer {
            width: 100%;
            height: 130px;
            padding: 24px 24px 0px 24px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .left {
                width: 476px;
                height: 100%;

                .titleContainer {
                    width: 100%;
                    height: 23px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    width: 100%;

                    .title {
                        flex-shrink: 1;
                        font-family: 'Product Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 23px;
                        align-items: center;
                        letter-spacing: 0.02em;
                        color: #353535;
                        width: 350px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .salary {
                        font-family: 'Product Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 23px;
                        align-items: center;
                        letter-spacing: 0.02em;
                        color: #FE574A;
                        white-space: nowrap;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                        width: fit-content;
                    }
                }

                .labelContainer {
                    height: 23px;
                    margin-top: 5px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;

                    .label {
                        display: flex;
                        align-items: center;
                        padding: 2px 10px;
                        /* General/White 1 */
                        background: #F0F0F0;
                        border-radius: 16px;
                        font-family: 'Product Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.0075em;
                        color: #707070;
                    }
                }

                .recruiterContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 8px;
                    width: 100%;

                    .recruiter {
                        .info {
                            padding: 2px 9px;
                            border-radius: 12px;
                            border: #BCBCBC solid 1px;
                            width: fit-content;
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            font-family: 'Product Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: 0.0075em;
                            color: #353535;
                            height: 24px;

                            &.isHover {
                                display: none;
                            }
                        }

                        .button {
                            padding: 4px 9px;
                            border-radius: 12px;
                            width: fit-content;
                            font-family: 'Product Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 15px;
                            height: 24px;
                            letter-spacing: 0.0075em;
                            color: #fff;
                            background: #136FD3;
                            display: none;
                            height: 24px;

                            &.isHover {
                                display: flex;
                                height: 24px;
                                cursor: pointer;
                            }
                        }

                        // height: 21px;
                    }

                    .online {
                        background: #0EBD5C;
                        border-radius: 15px;
                        padding: 5px 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 24px;
                        color: #fff;
                        margin-left: 2px;

                        &:before {
                            content: '';
                            background: #fff;
                            border-radius: 4px;
                            border: 1px solid #FFFFFF;
                            width: 8px;
                            height: 8px;
                            margin-right: 3px;
                        }

                        :first-child {
                            font-family: 'Product Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 15px;
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.0075em;
                            color: #FFFFFF;
                        }
                    }
                }
            }

            .right {
                // background: #0EBD5C;
                height: 100%;
                width: 322px;

                .company {
                    // height: 23px;
                    display: flex;
                    flex-direction: row;

                    .logo {
                        border-radius: 3px;
                        overflow: hidden;
                        margin-right: 10px;

                    }

                    .labelContainer {
                        .name {
                            font-family: 'Product Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 23px;
                            align-items: center;
                            letter-spacing: 0.02em;
                            color: #353535;
                        }

                        .componylabels {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            justify-content: flex-start;
                            margin-top: 5px;

                            .label {
                                display: flex;
                                align-items: center;
                                padding: 2px 10px;
                                background: #F0F0F0;
                                border-radius: 16px;
                                font-family: 'Product Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 15px;
                                letter-spacing: 0.0075em;
                                color: #707070;
                                margin-right: 8px;
                                height: 23px;
                                margin-bottom: 8px;
                            }
                        }
                    }

                }


            }

        }

        .bottomContainer {
            height: 41px;
            width: 100%;
            position: relative;
            border-radius: 10px 0px 10px 0px;

            &::before {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                opacity: 0.2;
                background: linear-gradient(269.8deg, rgba(255, 235, 184, 0.8) 0.12%, rgba(242, 177, 202, 0.8) 43.36%, rgba(84, 142, 237, 0.8) 99.89%);
            }

            padding-left: 24px;
            padding-right: 24px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .skills {
                width: 478px;
                height: 15px;
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                align-items: center;
                letter-spacing: 0.0075em;
                color: #707070;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .benefits {
                height: 15px;
                width: 322px;
                margin-left: 48px;
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                align-items: center;
                letter-spacing: 0.0075em;
                color: #707070;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .popupDetail {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 380px;
        // height: 395px;
        background: #fff;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 10px 10px 10px #ddd;

        // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
        z-index: 21;

        &.hide {
            display: none;
        }

        .popTop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 115px;
            background: #E7F1FB;
            overflow: hidden;
            padding: 13px 16px;


            &Left {
                flex: 1;

                .title {
                    font-family: 'Product Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 23px;
                    align-items: center;
                    letter-spacing: 0.02em;
                    color: #353535;
                    width: 260px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .secondLabel {
                    font-family: 'Product Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.0075em;
                    color: #707070;
                    width: 260px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 8px;
                }

                .save {
                    background: transparent;
                    box-shadow: none;
                    border: 1px solid #136FD3;
                    width: 126px;
                    height: 30px;
                    border-radius: 10px;
                    color: #136FD3;
                    margin-top: 15px;
                }
            }

            &Right {
                // flex: 0;
                width: 72px;
                height: 93px;
                padding: 6px 0px;
                background: #fff;

                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                text-align: center;
                letter-spacing: 0.0075em;
                color: #136FD3;

            }


        }

        .popContent {
            padding: 14px 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .desTitle {
                align-self: flex-start;
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.0075em;
                color: #353535;
            }

            .detail {
                align-self: flex-start;
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.02em;
                color: #353535;
                max-height: 213px;
                overflow: hidden;
                margin-top: 8px;
            }
        }
    }
}