@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.container {
  background-color: #fcfcfc;

  .main {
    @extend .GlobalNextAppContainer;
    padding-top: 20px;
    display: flex;
    flex-direction: row;

    .left {
      width: 864px;

      @include sm {
        width: 100%;
      }

      .searchFormContainer {
        z-index: 20;
        position: relative;
        background-color: #ffffff;

        @include sm {
          position: sticky !important;
        }
      }
    }

    .right {
      @include sm {
        display: none;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 16px;

  .table {
    background: transparent;
    width: 864px;

    @include sm {
      margin-left: 0px;
      width: 100%;
    }
  }

  .qrCode {
    width: 254px;
    height: 108px;
    margin-top: 20px;
    background: #136fd3;
    border-radius: 10px;
    padding: 10px 16px;
    display: flex;
    flex-direction: row;

    .rightContainer {
      padding: 7px 14px;

      label {
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #ffffff;
      }

      p {
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;
        color: #ffffff;
      }
    }
  }

  .rightContent {
    margin-top: 40px;
    height: 100%;
    width: 254px;
    margin-left: 6px;
    height: 600px;

    @include sm {
      display: none;
    }
  }
}
