.main {
    margin: 0px 0px;
    background: #f9f9f9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    justify-content: flex-start;
    width: 100%;
    min-width: 400px;

    .title {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;

        .mainTitle {
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.0075em;
            min-width: 120px;
            flex: 0;
            color: #353535;
        }

        .salary {
            flex: 1;
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.0075em;
            text-decoration-line: underline;
            color: #136FD3;
            cursor: pointer;
        }
    }
  
}