@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.footer {
  display: flex;
  border-top: 1px solid $dividerLine;
  position: relative;
  background-color: #141E31;
  color: #86909C;
  font-family: 'Product Sans';


  &Container {
    width: 100%;
    box-sizing: border-box;
    padding: 60px 0 30px;

    p {
      color: #86909C;
    }

    @include msd {
      padding-top: 40px;
    }
  }

  &MobileContainer {
    @include md {
      display: none;
    }
  }

  &Wrapper {
    @include flex();
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    color: $black;
  }

  &Link {
    color: #86909C;
    font-size: 14px;
    font-family: Product Sans;
    line-height: 18px;
    letter-spacing: 0.105px;

    span{
      color: #86909C;
      font-size: 14px;
      font-family: Product Sans;
      line-height: 18px;
      letter-spacing: 0.105px;
    }
  }

  &Links {
    margin-top: 40px;
  }
}

/* Desktop */
.footerDesktop {

  &App {
    display: flex;
    height: 42px;

    a {
      width: 140px;
      height: 100%;
      margin-right: 20px;
    }
  }

  &LinkTitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
  }

  &DividerLine {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.10);
    margin-top: 40px;
  }
  
  &Wrapper {
    display: none;

    @include md {
      display: block;
    }
  }

  &Top {
    @extend .GlobalContainer;

    @include md {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  &Left {
    width: 467px;
    margin-right: 60px;

    @include md {
      display: flex;
      flex-direction: column;
    }
  }

  &LeftTop{

  }

  &Logo{
    width: 124px;
    height: 32px;
    object-fit: cover;
  }

  &LeftBottom {
    margin-top: 75px;
  }

  &CompanyDesc {
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    margin-top: 20px;
    color: #86909C;
  }

  &Right {
    width: 572px;

    @include md {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &LinkList {
    list-style: none;
    -webkit-padding-start: 0;
    margin-bottom: 0;
    margin-top: 20px;

    & > li {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &Bottom {
    @extend .GlobalContainer;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &SocialWrapper {
    @include md {
      display: flex;
      align-items: center;
    }
  }

  &SocialLinks {
    @include md {
      @include flex();
      float: right;
      align-items: center;
    }
  }

  &SocialLinkFollow{
    margin-right: 10px;
  }
}

.footerDesktopApp {
  display: flex;
}

.socialLink{
  margin-left: 10px;
}

.footerMobileSocialLinks {
  margin-top: 60px;
}

.footerMobileDownload {
  margin-top: 60px;
}

.footerMobileDownloadText {
  font-size: 16px;
  line-height: 18px;
  text-transform: capitalize;
  margin-bottom: 20px;
  display: block;
  color: #86909C;
  font-family: 'Product Sans';
}

.footerMobileCompany {
  margin-top: 30px;
}

.footerMobileDownloadApp {
  display: flex;
}

.footerMobileSocialLinks {
  display: flex;
  align-items: center;
}

.footerMobileSocialLinksText {
  color: rgba(255, 255, 255, 0.60);
  font-size: 16px;
  font-family: Product Sans;
  margin-right: 10px;
}

.footerCopyrightWrapper {
  padding: 20px 20px 20px 20px;
}

.footerMobileLinkTitle {
  color: #FFF;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.128px;
}

.footerMobileCompanyDesc {
  color: #86909C;
  font-size: 13px;
  font-family: 'Product Sans';
  line-height: 20px;
  letter-spacing: 0.098px;
}