@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.footer {
  display: flex;
  border-top: 1px solid $dividerLine;
  position: relative;
  background-color: $white-3;

  &Container {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    @extend .GlobalContainer;

    @include md {
      padding: 25px 0 20px;
    }
  }

  &MobileContainer {
    @include md {
      display: none;
    }
  }

  &Wrapper {
    @include flex();
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    color: $black;
  }

  &Link {
    color: $black;
    font-weight: bold;

    &:hover {
      color: $primaryBlue;
    }
  }

  &Links {
    margin-top: 40px;
  }
}

/* Desktop */
.footerDesktop {
  &Wrapper {
    display: none;

    @include md {
      display: block;
    }
  }

  &LinksWrapper {
    @include md {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  &SocialWrapper {
    margin-top:25px; 
    
    @include md {
      @include flex(column);
    }

    .socialLink{
      &:hover{
        transform:scale(1.1);
        transition: 100ms all ease-in-out;
      }
    }
  }

  &SocialLinks {
    @include md {
      @include flex();
      width: 180px;
      float: right;
    }
  }

  &SupportWrapper {
    @include md {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &LinkList {
    list-style: none;
    -webkit-padding-start: 0;
    margin-bottom: 0;
    margin-top: 25px;

    & > li {
      margin-bottom: 0.2em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.footerMobileSections{
  margin-top: 20px;
}

.footerMobileDownloadApp{
  display:flex;
  flex-direction: row;
  margin-top:20px;
}

.footerMobileSocialLinks{
  display:flex;
  width:100%;
  justify-content: flex-start; 

  & > * {
    margin-top: 20px;
    margin-right: 15px;
  }
}

/** Misc **/
.scrollUpButton {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: $white-3;
  box-sizing: border-box;
  box-shadow: 3px 3px 11px 0 rgba(35, 121, 234, 0.19);
  position: absolute;
  top: -31px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: $primaryBlue;
  border: 0;
  z-index: 2;
  outline: 0;

  &:hover {
    cursor: pointer;
  }
}

.footerCopyrightWrapper {
  display: flex;
  line-height: 6px;
  margin: 30px 0;

  @include msd {
    margin: 30px 7%;
  }
}

.copyright{
  display:flex;
  margin-top:1.5rem;
  text-align: right;
  justify-content: center;

  .copyrightWrapper {
    display: flex;
    flex-direction: row;
  
    &.mobile {
      flex-direction: column;
      margin: 0;
    }
  
    .copyrightCompanies {
      display: inline-block;
      text-align: left;
    }
  }

  @include sm{
    display:none;
  }
}

.footerColumn {
  margin-right: 15px;
}
