@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.errorMain {
  text-align: center;
  margin: 100px 0;
  h2 {
    margin-bottom: 20px;
  }

  &_loadingLogo {
    margin-bottom: 20px;
  }
}

.headSticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.head {
  width: 100%;
  background-color: white;
  padding: 20px 0;

  &_main {
    margin: 0 auto;
    max-width: $NextAppMaxWidth;

    &_titleWrapper {
      flex: 0.7;
      overflow: hidden;
    }

    &_title {
      display: flex;
      justify-content: space-between;

      &_context {
        display: none;
      }
    }

    h1 {
      width: 100%;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      letter-spacing: 0.02em;
      color: #353535;
      justify-content: space-between;
      margin-bottom: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      white-space: nowrap;
    }

    &_salary {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      letter-spacing: 0.02em;
      color: #136fd3;
    }

    &_desc {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.0075em;
      color: #707070;
      margin-top: 15px;
      display: flex;
      align-items: center;
      line-height: 14px;

      i {
        display: inline-block;
        width: 2px;
        height: 14px;
        background-color: #bcbcbc;
        margin: 0 8px;
      }
    }

    &_change {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;

      &_resume {
        display: flex;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;

        a {
          color: #000000;
        }

        &_btnWrapper {
          display: flex;
          align-items: center;
        }

        span {
          letter-spacing: 0.02em;
        }

        span:hover {
          color: #136fd3;
          transition: color 0.3s ease;
        }
      }
    }
  }
}

.skeleton {
  max-width: $NextAppMaxWidth;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-top: 24px;

  &_mobileHead {
    display: none;
  }
}

.container {
  max-width: $NextAppMaxWidth;
  margin: 0 auto;
  display: flex;
  margin-bottom: 24px;
  margin-top: 44px;

  .main {
    width: calc(100% - 275px);

    .desc {
      background: #ffffff;
      border-radius: 15px;
      padding: 24px;

      &_mobileHead {
        display: none;
      }

      &_title {
        display: flex;
        justify-content: space-between;

        &_change {
          display: flex;
        }

        h5 {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0.02em;
          color: #353535;
        }
      }

      &_labels {
        display: flex;
        flex-wrap: wrap;

        div {
          margin-right: 4px;
          margin-bottom: 10px;
          align-items: center;
          padding: 3px 10px;
          background: #f0f0f0;
          border-radius: 16px;

          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          letter-spacing: 0.0075em;
          color: #707070;
        }
      }

      &_context {
        margin-top: 16px;
        overflow: hidden;
      }

      &_requirement {
        margin-top: 24px;
      }

      &_footer {
        margin-top: 24px;
        border-top: 0.5px solid #bcbcbc;
        display: flex;
        align-items: center;
        padding-top: 24px;

        &_name {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #353535;
          margin-left: 7px;
        }

        &_chat {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.0075em;
          color: #707070;
          margin-left: 18px;
        }

        &_lineStatus {
          padding: 1px 10px;
          background: #0ebd5c;
          border-radius: 15px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.0075em;
          color: #ffffff;
          margin-left: 18px;
          padding-left: 20px;
          position: relative;
        }

        &_lineStatus::before {
          content: '';
          background-color: #ffffff;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 8px;
        }

        &_notLine {
          background: #bcbcbc;
        }
      }

      .jobClient {
        &_btn {
          &_wrapper {
            display: flex;
            cursor: pointer;

            .MuiAvatar-root {
              margin-right: 3px;
            }
          }
        }
      }
    }

    .map {
      background: #ffffff;
      border-radius: 15px;
      padding: 24px;
      margin-top: 44px;

      h5 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #353535;
      }

      h5 + p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #353535;
      }

      &_context {
        width: 100%;
        height: 230px;
        background-color: rgba(245, 222, 179, 0.2);
        border-radius: 15px;
        overflow: hidden;
      }
    }

    // search
    .search {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 44px;

      &_location {
        width: 183px;
        height: 24px;
      }

      &_field {
        width: calc(100% - (183px + 119px + 30px));
      }
    }

    .published_at {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.0075em;
      color: #707070;
      margin-top: 24px;
      display: block;
    }
  }

  .benefits {
    background: #ffffff;
    border-radius: 15px;
    padding: 24px;
    margin-top: 44px;

    &_labels {
      display: flex;
      flex-wrap: wrap;

      div {
        margin-right: 4px;
        margin-bottom: 10px;
        align-items: center;
        padding: 3px 10px;
        background: #f0f0f0;
        border-radius: 16px;

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.0075em;
        color: #707070;
      }
    }

    &_more {
      font-family: 'Product Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.02em;
      color: #136fd3;
    }

    &_mobileCard {
      display: none;
    }
  }

  .aside {
    margin-left: 25px;
    width: 250px;

    .search {
      display: none;
    }

    .signUp {
      width: 100%;
      width: 250px;
      height: 213px;
      background: #e7f1fb;
      border-radius: 10px;
      padding: 16px;
      margin-bottom: 24px;

      &_userProtocol {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.0075em;
        color: #707070;
        margin-top: 8px;
      }
    }

    .company {
      background: #ffffff;
      border-radius: 15px;
      padding: 16px;

      &_title {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.02em;
      }

      &_name {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #353535;
        margin: 8px 0;
      }

      &_financingStage {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.0075em;
        color: #707070;
      }

      &_mobileHead {
        display: none;
      }
    }

    .similarJobs {
      background: #ffffff;
      border-radius: 15px;
      overflow: hidden;
      margin-top: 24px;

      h3 {
        height: 44.22px;
        background: #f0f0f0;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 44.22px;
        letter-spacing: 0.02em;
        color: #353535;
        padding-left: 15px;
        margin-bottom: 0;
      }

      &_card {
        margin-top: 32px;
      }

      &_container {
        padding: 16px;
        padding-top: 0;
      }

      &_title {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #353535;
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        flex: 0.7;
      }

      &_salary {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #136fd3;
      }

      &_info {
        display: flex;
        margin-top: 15px;

        &_jobType {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          letter-spacing: 0.0075em;
          color: #707070;
          line-height: 14px;
        }
      }

      &_mobileCard {
        display: none;
      }
    }

    .ad {
      &_container {
        width: 250px;
        height: 250px;
        background-color: rosybrown;
        animation: loading 2s ease infinite;
        overflow: hidden;
        margin-top: 24px;
      }
    }

    .published_at {
      display: none;
    }

    &_mobilesticky_btnGroup {
      display: none;
      width: 100%;
      padding: 8px 20px;
      background-color: white;
      position: fixed;
      bottom: 0px;
      z-index: 10;

      &_change {
        button {
          flex: 1;
        }
        button:first-child {
          justify-content: center;
        }
      }
    }
  }
}

@keyframes loading {
  0% {
    background-size: 300% 100%;
    background-image: linear-gradient(100deg, #eee 40%, #fff 50%, #eee 60%);
    background-position: 100% 50%;
  }

  100% {
    background-size: 300% 100%;
    background-image: linear-gradient(100deg, #eee 40%, #fff 50%, #eee 60%);
    background-position: 0 50%;
  }
}

.workLocal {
  width: 739px;
  height: 421px;
  background: #ffffff;
  border-radius: 15px;
}

// TODO Mobile styles
// < 1170px
@media (max-width: $NextAppMaxWidth) {
  .head {
    &_main {
      padding: 0 15px;
    }
  }

  .container {
    padding: 0 15px;
  }

  .skeleton {
    width: 100%;
    padding: 0 20px;

    &_left {
      display: none;
    }

    &_right {
      width: 100%;
      margin-left: 0 !important;
    }

    &_webHead {
      display: none;
    }

    &_mobileHead {
      display: block;
    }
  }
}

@include msd {
  .headSticky {
    position: unset;
  }

  .head {
    padding-bottom: 0;

    &_main {
      &_change {
        display: none;
      }

      &_salary {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.02em;
      }

      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.02em;
        color: #353535;
      }

      &_titleWrapper {
        flex: 0.9;
      }

      &_title {
        &_context {
          display: block;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0.02em;
          color: #353535;
          display: flex;

          &_type {
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
            white-space: nowrap;
            display: inline-block;
          }

          &_status {
            padding: 0px 10px;
            background: #d2030f;
            border-radius: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.0075em;
            color: #f0f0f0;
            display: inline-block;
            margin-left: 4px;
          }
        }
      }
    }
  }

  .container {
    display: block;
    padding: 0px;
    width: 100%;
    margin-top: 0;

    .main {
      width: 100%;

      .desc,
      .benefits,
      .map {
        border-radius: 0;
      }

      .desc {
        padding: 24px 0;

        &_jobDescWrapper {
          padding: 29px 20px 20px;
        }

        &_jobRequireWrapper {
          padding: 0px 20px;
        }

        &_mobileLine {
          height: 8px;
          background: #f0f0f0;
          width: 100%;
        }

        &_mobileHead {
          display: flex;
          align-items: center;
          background: #e7f1fb;
          padding: 15px 20px;

          &_info {
            display: flex;
            flex-direction: column;

            &_rate,
            &_name,
            &_active {
              margin-left: 0;
            }

            &_name {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              color: #353535;
            }
          }
        }

        &_title {
          &_change {
            display: none;
          }
        }

        &_footer {
          display: none;
        }
      }

      .benefits,
      .map {
        margin-top: 8px;
      }

      .search {
        display: none;
      }

      .published_at {
        display: none;
      }
    }

    .aside {
      width: 100%;
      margin-left: 0;

      .signUp {
        display: none;
      }

      .company {
        border-radius: 0;
        margin-top: 0;
        background: #e7f1fb;
        display: none;

        &_mobileHead {
          display: flex;
          align-items: center;
          background: #e7f1fb;
          padding: 15px 20px;

          &_info {
            display: flex;
            flex-direction: column;

            &_rate,
            &_name,
            &_active {
              margin-left: 0;
            }

            &_name {
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              color: #353535;
            }

            &_tag {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              letter-spacing: 0.0075em;
              color: #707070;
            }
          }
        }
      }

      .ad {
        &_container {
          margin: 24px auto 45px;
        }
      }

      .similarJobs {
        border-radius: 0;
        background: transparent;

        h3 {
          background: rgb(245, 246, 250);
        }

        &_card {
          background: #ffffff;
          border-radius: 10px;
          padding: 16px 13px;
          margin-top: 7px;
        }

        &_seeMore {
          background: #136fd3;
          color: #ffffff;
        }

        &_webCard {
          display: none;
        }

        &_mobileCardWrapper {
          display: flex;
          justify-content: space-between;
        }

        &_mobileCard {
          display: block;

          &_name {
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.0075em;
            color: #353535;
            margin: 8px 0;
          }

          &_tags {
            span {
              padding: 3px 10px;
              background: #f0f0f0;
              border-radius: 16px;
              font-weight: 400;
              font-size: 12px;
              letter-spacing: 0.0075em;
              color: #707070;
              margin-right: 3px;
            }
          }

          &_loca {
            display: flex;
            width: 100%;
            justify-content: space-between;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.0075em;
            color: #353535;

            &_value {
              color: #707070;
            }
          }
        }

        &_infoWrpper {
          position: relative;

          &_status {
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            right: 4px;
            bottom: 0px;
          }

          &_lineStatus {
            border: 1px solid white;
            background-color: #32a071;
          }
        }
      }

      .search {
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
        margin-bottom: 40px;

        &_location {
          flex: 0.3;
        }

        &_field {
          flex: 0.67;
          &_bingo {
            display: none;
          }
        }
      }

      .published_at {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.0075em;
        color: #707070;
        padding-left: 20px;
        margin-bottom: 40px;
      }

      &_mobilesticky_btnGroup {
        display: block;
      }
    }
  }
}
