@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.modal {
  &Overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    opacity: .5;
  }

  &Wrapper {
    // height: calc(100vh + env(safe-area-inset-bottom));
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);
    overflow-x: hidden;
    overflow-y: auto;
    
    @include sm{
      justify-content: flex-end;
      touch-action: none;
      -ms-touch-action: none;
    }
  }

  &Content {
    z-index: 100;
    background: white;
    position: relative;
    margin: 0 auto;
    width: 581px;
    max-height: 680px;
    border-radius: 5px;

    @include sm{
      width: 100%;
      // height:auto;
    }
  }

  &Header {
    display: flex;
    position:sticky;
    top:0;
    z-index:100;
    padding: 16px 24px;
    border-bottom: 1px solid rgba($lightgrey, 0.5);
    background-color: $white-1;

    &Title {
      flex: auto;
    }
  }

  &Body{ 
    padding: 16px 24px;

    @include sm{
      overflow-y: auto;
      padding: 16px 20px;
    }
  }
  &Footer {
    border-top: 1px solid rgba($lightgrey, 0.5);
    padding: 16px 40px;
    display: flex;
    justify-content: flex-end;
    position:sticky;
    bottom:0;
    z-index:100;
    background-color: white;
    
    button {
      &:last-child {
        margin-left: 10px;
        background-color: $primaryBlue;
        color: $white-3;
        
        &:hover {
          box-shadow: $box-shadow-1;
        }
      }
    }
  }

  &CloseButton {
    margin-top: 3px;
    cursor: pointer;
    z-index: 9999;
  }
}
