@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.form {
  margin-top: 16px;

  & > * {
    width: 100%;
  }
  .specilField {
    display: flex;
    justify-content: space-between;
    &.btn {
      //margin-left: 10px;
      background-color: #136fd3;
      color: #fff;

      &:hover {
        box-shadow: $box-shadow-1;
      }
    }
  }
}

.skillList {
  margin-top: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .skillChip {
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: #1976d2;
  }
}
