@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.JobCard {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba($lightgrey, 0.5);
  border-radius: 5px;
  width: 100%;
  padding: 28px 0;
  margin-bottom: 16px;
  padding: 24px;
  
  &.isSelected {
    border: 2px solid $primaryBlue;

    @include msd {
      margin-top: 50px;
    }
  }
  
  &:hover {
    border: 2px solid $primaryBlue;
    cursor: pointer;
  }
}

.JobCardImage {
  &Wrapper {
    margin-bottom: 10px;
  }

  &Content {
    width: 52px;
    height: 52px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba($lightgrey, 0.2);

    @include msd {
      width: 52px;
      height: 52px;
    }
  }
}

.JobCardDetail {
  &Wrapper {
    width: 100%;
  }

  &Title {
    display: block;
    padding-right: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    min-height: 54px;
  }

  &Tag {
    margin: 10px 0;
  }

  &Item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    span {
      margin-left: 8px;
    }

    img {
      z-index: -1;
      margin-top: 5px;
    }

    &Tooltip {
      vertical-align: middle;
      cursor: pointer;
    }
  }

  &Status {
    color: #F30000;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    div {
      margin-right: 10px;
    }

    > img {
      margin-right: 5px;
    }
  }
}

.JobCardDetailList {
  margin-bottom: 10px;
}