@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.snackbarContainerOpen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    .snackbar {
      width: 40%;
  
      @include msd {
        width: 100%;
        margin-bottom: 24px;
      }
    }
}
.snackbarContainerClose {
    display: 'none'
}