@include msd {
  .main {
    padding-top: 30px;
    background: #fff;
    min-height: calc(100vh - 54px);
    border-radius: 16px 16px 0 0;

    .bg {
      background: #fff;
      filter: unset;
    }

    .codePage {
      display: none;
    }

    .container {
      width: 100%;
      padding: 0 20px;
      background: transparent;
      box-shadow: unset;
      padding-bottom: 60px;
      height: 100%;

      .bannner {
        display: none;
      }

      .rightContainer {
        width: 100%;
        padding: 0px;

        h2 {
          font-size: 34px;
        }

        .code {
          display: none;
        }

        .divider {
          padding-top: 40px;
        }

        .list2 {
          .login_item {
            flex: 1;
            width: 0;
            margin-right: 14px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

      }

      .phoneNumber {
        .msg {
          width: 100%;
          word-break: break-all;
        }
      }

      .captcha {
        .codeBox {
          .itemContent {
            width: 48px;
            height: 52px;
          }
        }
      }
    }

    .dialogContainer {
      padding: 20px;


      .container {
        padding: 0;

        .rightContainer {
          h2 {
            padding-top: 30px;
          }
        }
      }
    }

    .tips {
      bottom: 16px;
      width: 100%;
      text-align: center;
      position: fixed;
    }

  }
}