@import 'styles/mixins.scss';

.main {
  margin: 0 auto;
  position: relative;
  padding-top: 64px;
  min-height: calc(100vh - 64px);
  position: relative;
  z-index: 1;
  overflow: hidden;

  .bg {
    // position: absolute;
    // width: 1620px;
    // height: 800px;
    // left: 0;
    // background: linear-gradient(86.06deg, #9DEDFF 59.41%, #9DEDFF 68.95%, #1052FB 76.03%, #1052FB 80.45%, rgba(16, 82, 251, 0.89) 88.18%);
    // opacity: 0.2;
    // filter: blur(154.5px);
    // transform: rotate(90deg);
    // z-index: -1;
    position: absolute;
    width: 1366px;
    height: 768px;
    left: 0px;
    top: 0px;
    background: linear-gradient(166.11deg, #FFFFFF 18.61%, #9DEDFF 59.16%, #1052FB 100.91%, #1052FB 133%, rgba(16, 82, 251, 0.89) 186.95%);
    opacity: 0.6;
    filter: blur(154.5px);
    transform: translateZ(0);
    z-index: -1;
  }

  .code {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 10px;
    margin-bottom: 16px;
    z-index: 10;

    .codeImg {
      cursor: pointer;

      span {
        color: #B3B3B3;
        font-size: 32px;

        &:hover {
          color: #166AD4;
        }
      }
    }
  }

  .codeTitle {
    color: rgba(29, 33, 41, 1);
    font-size: 18px;
    text-align: center;
    position: relative;
    padding-top: 150px;
    padding-bottom: 15px;
    margin: 0;
  }

  .qrCode {
    margin: 0 auto;
    display: flex;
    width: 186px;
    height: 186px;
    position: relative;
    align-items: center;
    justify-content: center;

    .overTime {
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(237, 237, 237, .9);
      left: 0;
      top: 0;

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.0075em;
        text-align: center;
        margin-bottom: 26px;
        padding-top: 52px;
      }

      button {
        padding: 0 10px;
        height: 35px;
        border-radius: 4px;
        outline: none;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.0075em;
        line-height: 35px;
        margin: 0 auto;
        border: none;
        background: rgba(35, 120, 229, 1);
        text-align: center;
        color: #fff;
        display: block;
        cursor: pointer;
      }
    }
  }

  .codePopver {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
    //styleName: Regular/Body/Regular/medium;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.0075em;
    color: rgba(78, 89, 105, 1);
    border-radius: 8px;
    padding: 4px 10px;
    margin-right: 20px;
    position: relative;

    &::after {
      content: ' ';
      border-width: 8px 0 8px 8px;
      border-style: solid;
      display: block;
      position: absolute;
      right: -8px;
      bottom: 7px;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent #fff;
    }
  }

  .popver {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
    padding: 13px 18px 13px 18px;
    border-radius: 20px;
    position: absolute;
    right: -84px;
    bottom: 60px;
    background: #fff;
    display: none;

    &::after {
      content: ' ';
      position: absolute;
      left: -10px;
      bottom: 20px;
      border-width: 28px 28px 28px 0;
      border-style: solid;
      display: block;
      border-color: transparent #fff transparent transparent;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.0075em;
      text-align: center;
      color: rgba(29, 33, 41, 1);
    }

    h4 {
      font-size: 18px;
      font-weight: 700;
      line-height: 23px;
      letter-spacing: 0.0075em;
      text-align: center;
      padding-top: 24px;
      color: rgba(0, 0, 0, 1);
    }

    h5 {
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.0075em;
      text-align: center;
      color: rgba(78, 89, 105, 1);
      padding: 18px 0;
    }

    .menu {
      border: 3px solid rgba(22, 106, 212, 1);
      color: #fff;
      width: 240px;
      display: flex;
      height: 36px;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 25px 0 15px 74px;

      li {
        background: rgba(22, 106, 212, 1);
        color: #fff;
        list-style: none;
        font-size: 12px;
        flex: 1;
        text-align: center;
        line-height: 33px;

        &.active {
          background: #fff;
          color: rgba(22, 106, 212, 1);
        }
      }
    }
  }

  .popver2 {
    right: -190px;
    bottom: -68px;
    width: 373px;
    height: 534px;
    padding: 0;
    box-shadow: none;
    background: transparent;

    h4 {
      padding-top: 52px;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

    .popverContent {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: none;
    }
  }

  .codeTips {
    font-size: 14px;
    color: #4E5969;
    display: flex;
    justify-content: center;
    margin-top: 25px;

    span {
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      font-size: 14px;
      color: #4E5969;
      cursor: pointer;

      &:hover {
        .popver {
          display: block;
        }
      }

      .icon {
        margin-left: 4px;
        font-size: 18px;
      }

      &:first-child {
        margin-right: 27px;
      }

      &:hover {
        color: #2378E5;
      }
    }
  }

  .qrAvator {
    border-radius: 50%;
    margin: 24px auto;
    display: block;
    width: 160px;
    height: 160px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .scanned {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: rgba(35, 120, 229, 1);
    padding-bottom: 10px;
    margin: 0;
  }

  .loginOn {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(18, 18, 18, 1);
  }

  .codePage {
    position: absolute;
    right: 34px;
    top: 20px;
    bottom: unset;
    z-index: 10;
  }

  .container {
    width: 880px;
    background: #ffffff;
    border-radius: 16px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    height: 610px;

    h2 {
      font-weight: 700;
      font-size: 36px;
      letter-spacing: 0.0075em;
      color: #121212;
      line-height: 44px;
      padding: 60px 0 20px 0;
      margin: 0;

      span {
        color: #2378E5;
      }
    }

    .bannner {
      width: 400px;
      overflow: hidden;
      border-radius: 16px 0 0 16px;
    }

    .rightContainer {
      padding: 20px 34px 30px;
      width: 480px;
    }

    .list {
      list-style: none;
      width: 100%;

      li {
        cursor: pointer;
        margin-top: 16px;
        position: relative;
        font-size: 14px;
        border-radius: 8px;
        text-align: center;
        height: 44px;
        border: 1px solid #c9cdd4;
        letter-spacing: 0.0075em;
        color: #1d2129;
        font-weight: 700;
        line-height: 44px;

        a {
          display: block;
          color: #1d2129;
        }

        &:hover {
          background-color: #e5f4ff;
        }

        img {
          position: absolute;
          width: 24px;
          height: 24px;
          left: 17px;
          top: 10px;
        }
      }
    }

    .list2 {
      display: flex;
      justify-content: space-around;
      padding-top: 24px;

      >div {
        width: 130px;

        i,
        img {
          position: absolute;
          left: 50%;
          top: 16px;
          transform: translateX(-50%);
        }

      }

      .login_itemActive {
        color: #fff;
        background: #fff;
        box-shadow: unset;

        &:hover {
          background-color: #e5f4ff;
        }
      }
    }

    .account {
      list-style: none;
      min-height: 160px;

      li {
        width: 100%;
        height: 80px;
        padding: 17px 0;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(242, 243, 245, 1);
        cursor: pointer;

        &:hover {
          .name {
            color: #2378e5;
          }

        }

        img {
          width: 46px;
          height: 46px;
          float: left;
          margin-right: 14px;
          border-radius: 50%;
        }

        p {
          margin: 0;
        }

        .name {
          font-weight: 700;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 1px;
          color: #1D2129;
          padding-top: 3px;

        }

        .email {
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 1px;
          color: #86909C;

        }
      }
    }

    .listEmail {
      display: flex;

      li {
        margin-right: 12px;
        margin-top: 0;
        flex: 1;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .divider {
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #86909c;
      padding: 102px 0 24px;

      &.divider_none {
        margin: 0;
        padding: 20px 0 4px;
      }
    }


    .captcha {
      .codeBox {
        display: flex;

        .itemContent {
          font-size: 20px;
          line-height: 54px;
          text-align: center;
          width: 60px;
          height: 60px;
          margin-right: 12px;
          background: #fff;
          border-bottom: 2px solid #E4E4E4;


          &.itemContentActive::before {
            position: absolute;
            top: 25%;
            left: 50%;
            display: block;
            width: 2px;
            height: 50%;
            margin-left: -1px;
            border: 1px solid #2378E5;
            animation: rc-captcha-input-flash steps(2) 1s infinite;
            content: ' ';
          }
        }
      }

      .optErr {
        margin: 0;
        padding-top: 8px;
      }

      .InputBoxWrap {
        position: absolute;
        left: -9999px;
      }

      .resendCode {
        color: #2379EA;
        ;
      }

      &.captchaThemeBox {
        .codeBox {
          .itemContent {
            color: #2378E5;
            border-bottom: 2px solid #E4E4E4;
            font-size: 32px;

            &.itemContentActive {
              position: relative;
              border-color: #2378E5;
            }

            &.itemContentHit {
              border-color: #2378E5;
            }
          }
        }
      }

      @keyframes rc-captcha-input-flash {
        0% {
          visibility: hidden;
        }

        100% {
          visibility: visible;
        }
      }
    }

    .enabled {
      .imgContainer {
        display: block;
        margin: 60px auto 32px;
      }

      h3 {
        color: #1D2129;
        text-align: center;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 153.846% */
        letter-spacing: 0.195px;
      }
    }

    .phoneNumber {
      .item {
        margin-top: 16px;

        &:first-child {
          margin-top: 0;
        }

        .fullwidth {
          width: 100%;

          :global {
            .MuiOutlinedInput-root {
              border-radius: 8px;
            }
          }
        }
      }

      .btn {
        width: 100%;
        border: 1px solid #2378e5;
        color: #2378E5;
        font-weight: 700;
        font-size: 14px;
        height: 60px;
        border-radius: 8px;
        outline: none;
        background-color: #fff;
        margin-top: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          margin-top: 0;
        }

        &:disabled {
          cursor: not-allowed;
          color: #B8B8B8;
          background: #F6F6F6;
          border: 1px solid #F6F6F6;
        }
      }

      .upLater {
        height: 44px;
        margin-top: 24px;
      }

      .msg {
        padding: 16px 0;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.0075em;
        color: #4e5969;
        margin: 0;
        text-align: center;

        a {
          color: rgba(35, 120, 229, 1);
          padding: 0 4px;
          display: inline-block;
        }
      }

      .optBox {
        .enterTips {
          margin: 0;
          font-size: 16px;
          align-items: center;
          letter-spacing: 1px;
          color: #7D7D7D;
          padding-bottom: 26px;
          word-break: break-all;
          padding-top: 10px;

          p {
            margin: 0;

            &.extra {
              margin-bottom: 20px;
            }
          }

          span {
            color: rgba(29, 33, 41, 1);
            font-weight: 700;
            padding-left: 10px;
          }
        }

        .countdown {
          margin: 0;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
          text-decoration-line: underline;
          color: #86909c;
          margin: 27px 0 37px;

          .resendCode {
            color: #2379EA;
            ;
            cursor: pointer;
          }
        }

        .trouble {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
          color: #1d2129;
          margin: 0;

          span {
            color: rgba(35, 120, 229, 1);
          }
        }

        .checkYourSpam {
          color: #1D2129;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          /* 150% */
          letter-spacing: 0.12px;
          margin: 0;
          position: relative;
          top: -14px;
        }
      }
    }

    .link {
      color: #2378e5;
      cursor: pointer;
    }

    .avatar {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      &_img {
        width: 106px;
        height: 106px;
        border-radius: 50%;
        overflow: hidden;
        pointer-events: none;
        user-select: none;
      }
    }

    .phone_text {
      font-weight: 400;
    }

  }

  .emailFactor {
    p {
      margin: 0;
    }

    .secure {
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 1px;
      color: #1d2129;
    }

    .emailTips {
      margin-top: 5px;
      margin-bottom: 50px;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 1px;
      color: #1D2129;

      span {
        color: #1D2129;
      }
    }
  }

  .imgContainer {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto 20px;
  }

  .tips {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.0075em;
    color: #4e5969;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 30px;
    margin: 0;
    left: 0;

    a {
      color: rgba(19, 111, 211, 1);
    }
  }

  .login_item {
    cursor: pointer;
    margin-top: 16px;
    position: relative;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
    height: 60px;
    border: 1px solid #ECECEC;
    letter-spacing: 0.0075em;
    color: #1d2129;
    line-height: 60px;

    &:hover {
      background-color: #e5f4ff;
    }

    i {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 20px;
      top: 16px;
      font-style: normal;
      font-size: 24px;

    }
  }

  .login_itemActive {
    color: #fff;
    background: #2378E5;
    box-shadow: 0px 7px 8px 0px #D8E5FF;

    &:hover {
      background-color: #2378E5;
    }
  }

  .login_disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  .dialogContainer {
    box-shadow: none;
    width: 561px;
    padding: 28px 20px 38px 20px;

    >h2 {
      display: none;
    }

    .login_item {
      margin-top: 0;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0
      }
    }

    .codeTitle {
      padding-top: 6px
    }
  }
}

@import './indexMobile.module.scss';