@import '/styles/mixins.scss';

.container {
  width: 100vw;
  height: 153px;
  max-width: 100%;
  display: flex;
  // position: sticky;
  top: 0px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding-left: calc(50vw - 585px);
  
  .searchArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: fit-content;
    width: calc(50vw + 585px);
    height: 74px;
    padding-left: 24px;

    .location {
      width: 196px;
      height: 44px;
    }

    .search {
      width: 608px;
      height: 44px;
      // border: 1px solid #ccc;
      background: #fff;
      margin-left: 8px;
      // label {
      //   line-height: 100%;
      // }
      position: relative;
      top: 2px;
    }

    .searchButton {
      margin-left: 8px;
      background: #136FD3;
      color: #fff;
      width: 119px;
      height: 44px;
      border-radius: 10px;
    }
  }

  .filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: calc(50vw + 585px);
    height: 50px;
    padding-top: 20px;
    padding-left: 24px;

    .filterItems {
      height: 30px;
      width: 196px;
      margin-right: 8px;

    }
    .jobFunctions {
      width: 184px;
    }
  }
}
