@use './base';

.container {
  width: 100%;
  margin: 0 auto;
}

.company_info_tab_wrapper {
  padding-top: 32px;
  width: 1366 - 115 - 115px;
  margin: 0 auto;
}
.hot_jobs_wrapper {
  background-color: #fcfcfc;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 48px;
  padding-bottom: 10px;
  :global {
    section {
      width: 1136px;
      margin: 0 auto;
    }
  }
}
.header_cover_container {
  @include base.respond-to(phone) {
    height: 2.7rem;
    width: 100%;
    position: relative;
  }
}
.company_info_wrapper {
  display: flex;
  justify-content: space-between;
}
.company_culture {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header_cover {
  width: 1366px;
  min-height: 200px;
  position: absolute;
  z-index: 1;
  background: linear-gradient(180deg, #287aea 0%, #5cb8ff 100%);
}
.jobs_item {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.0075em;
  color: #c9cdd4;
  padding: 16px;
  width: 357px;
  height: 91px;
  border-radius: 8px;
  border: 1px solid var(--neutral-color-border, #e5e6eb);
  background: var(--neutral-color-text, #fff);
  transition: all 0.3s linear;
  &:hover {
    border: 1px solid var(--brand-color, #2378e5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    .chat_now {
      opacity: 1;
    }
    .salary {
      opacity: 0;
    }
  }
}
.content {
  padding-top: 32px;
}
.jobs_item_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab_wrapper {
  border-bottom: 1px solid #e5e6eb;
  display: flex;
}
.tab_layout {
  width: 1366 - 115 - 115px;
  margin: 0 auto;
  @include base.respond-to(phone) {
    padding-left: 0.04rem;
  }
  :global {
    .MuiTab-textColorPrimary {
      text-transform: capitalize;
      color: var(--neutral-color-text, #1d2129) !important;
      font-size: 20px;
      line-height: 25px;
      @include base.respond-to(phone) {
        font-size: 0.18rem;
        font-weight: 400;
        line-height: 0.25rem;
      }
    }
    .Mui-selected {
      font-weight: 700;
      // @include base.respond-to(phone) {
      //   font-weight: 700;
      //   // color: var(--main-color-blue-blue-012378-e-5, #2378e5) !important;
      // }
    }
    .MuiTabs-indicator {
      // background-color: var(--neutral-color-text, #1d2129) !important;
      // height: 3px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      & > span {
        background-color: var(--neutral-color-text, #1d2129) !important;
        height: 3px !important;
        max-width: 50px;
        display: block;
        width: 50px;
        border-radius: 3px;
      }
      @include base.respond-to(phone) {
        & > span {
          background-color: var(--neutral-color-text, #1d2129) !important;
          height: 3px !important;
          max-width: 50px;
          display: block;
          width: 0.5rem;
          border-radius: 3px;
        }
      }
    }
    .MuiTab-root {
      padding-bottom: 20px;
      @include base.respond-to(phone) {
        padding-bottom: 0.12rem;
      }
    }
  }
}

.header {
  width: 100%;
  height: 140px;
  position: relative;
  background: linear-gradient(180deg, #287aea 0%, #5cb8ff 100%);
  // padding-bottom: 24px;
  // overflow: hidden;
  padding-bottom: 36px;
  padding-top: 36px;
  @include base.respond-to(phone) {
    width: 100%;
    overflow: visible;
    margin-bottom: 0.32rem;
    padding: 0.36rem 0.2rem;
    height: 1.2rem;
  }
}

.header_info {
  position: relative;
  width: 1366px;
  margin: 0 auto;
  padding-left: 117px;
  // padding-top: 88px;

  display: flex;
  z-index: 3;

  @include base.respond-to(phone) {
    padding-left: 0;
    align-items: center;
  }
}
.header_logo {
  margin-right: 20px;
  @include base.respond-to(phone) {
    position: relative;
    // position: absolute;
    // z-index: 100;
    // bottom: -0.24rem;
    // left: 0.2rem;
    width: 0.49rem;
    height: 0.49rem;
    margin-right: 0.2rem;
  }
}
.header_logo_img {
  width: 68px;
  height: 68px;
  border-radius: 13px;
  object-fit: cover;
  border: 1px solid #ffffff;
  @include base.respond-to(phone) {
    width: 0.68rem;
    height: 0.68rem;
    border-radius: 0.13rem;
    border: 1px solid var(--neutral-color-border, #e5e6eb);
  }
}
.header_content {
}

.header_title_num_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-right: 40px;
}
.header_title_right {
  position: absolute;
  right: 100px;
  top: 0px;
  z-index: 3;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_title_num {
  color: #fff;
  /* Bold/super title/medium */
  font-size: 32px;
  font-family: Product Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.24px;
  margin-right: 5px;
}
.header_title_string {
  color: #fff;

  /* Regular/title/big */
  font-size: 20px;
  font-family: Product Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.15px;
}

.header_title {
  color: var(--neutral-color-text, #fff);
  font-family: Product Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: 6.5px;
  @include base.respond-to(phone) {
    color: var(--neutral-color-text, #ffffff);
    font-size: 0.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.25rem;
    margin-top: 0px;
  }
}

.header_subtitle {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 10px;
  color: var(--neutral-color-text, #fff);
  font-family: Product Sans;
  display: flex;
  @include base.respond-to(phone) {
    color: var(--neutral-color-text, #86909c);
    font-size: 0.13rem;
    font-family: Product Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 0.2rem;
    margin-top: 0.08rem;
    margin-bottom: 0;
  }
}

.header_subtitle_item {
  @include base.split();
}
.header_benefit_wrapper {
  display: flex;
  flex-wrap: wrap;

  @include base.respond-to(phone) {
    margin: 0 0.2rem;
    padding-bottom: 0.1rem;
  }
}

.header_benefit_item {
  flex-direction: row;
  align-items: center;
  padding: 7px 6px;
  gap: 3px;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0075em;
  text-align: center;
  margin-right: 4px;
  margin-bottom: 5px;
  background: rgba(139, 139, 139, 0.8);
  @include base.respond-to(phone) {
    color: var(--neutral-color-text, #4e5969);
    font-size: 0.13rem;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    font-family: Product Sans;
    font-style: normal;
    line-height: 0.18rem;
    text-align: center;
    margin-right: 0.04rem;
    margin-bottom: 0.05rem;
    background: var(--neutral-color-fill, #f7f8fa);
    margin-top: 10px;
    margin-bottom: 16px;
  }
}
.split {
  width: 100%;
  border-bottom: 1px solid var(--neutral-color-border, #e5e6eb);
}
.header_mask {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(7, 7, 7, 0.15) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.header_title_verified {
  margin-left: 20px;
  @include base.respond-to(phone) {
    margin-left: 0.1rem;
  }
}

.footer {
  text-align: center;
  height: 85px;
  line-height: 85px;
}
.jobs_chat_now_container {
  position: relative;
}
.salary {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.0075em;
  color: #2378e5;
}
.jobs_content {
  display: flex;
  justify-content: space-between;
  :global {
    .tag_flag {
      border-radius: 6px;
      background: var(--neutral-color-fill, #f7f8fa);
      // padding: 5px 10px;
    }
  }
}

.jobs_item_title {
  width: 326px;
  height: 23px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #1d2129;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 12px;
  display: block;
}

.chat_now {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 73px;
  min-height: 28px;
  background: #2378e5;
  border-radius: 8px;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s linear;
}
.header_right {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.arrow {
  border-left: 5px solid #000;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-left: 5px;
  width: 0;
  height: 0;
}
.more_job {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.0075em;
  text-decoration-line: underline;
  color: #1d2129;
}
