@import 'styles/variable.scss';

.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    &Wrapper {
        width: 100%;
        height: 100%;
    }
}

.loading {
    &Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $primaryBlue;
    }
    
    &Logo {
        margin-bottom: 16px;
    }
    
    &Indicator {
        width: 200px;
    }
}