@import 'styles/mixins.scss';
@import 'styles/variable.scss';

.main {
  @extend .GlobalNextAppContainer;
  @include sm {
    padding: 0px 10px;
  }

  .title {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    margin-top: 33px;
    margin-bottom: 17px;
    color: #136fd3;
    padding: 0 10px;
  }
}
