.content {
    display: flex;
    flex-direction: row;

    .table {
        margin-top: 40px;
        margin-left: calc(50vw - 585px);
        background: transparent;
        width: 894px;
    }

    .rightContent {
        margin-top: 40px;
        height: 100%;
        width: 254px;
        margin-left: 30px;
        background: green;
        height: 600px;
    }
}