@import '/styles/mixins.scss';

.reason {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #353535;
}

.uploadButton {
    width: 100%;
    // border: 1px solid #136FD3;
    // border-radius: 10px;
}

.item {
    height: 30px;
    margin-bottom: 10px;
}

.bottomText {
    margin-top: 30px;
}

.offerContent {
    position: relative;

    .background {
        display: none;
    }

    @include sm {
        .background {
            z-index: 1;
            position: absolute;
            width: calc(100% + 30px);
            height: 100%;
            left: -15px;
            top: 0px;
            display: flex;
        }
    }

    .offerview {
        margin: 10px 0px;
        width: calc(100% - 0px);
        border-radius: 14px;
        // box-shadow: 0px 4px 15px rgba(19, 111, 211, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: 80px;
        z-index: 10;

        .companyName {
            margin-top: 20px;
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 15px;
            letter-spacing: 0.02em;
            display: flex;
            align-items: center;
            z-index: 10;

        }

        .topInfo {
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            margin-right: 20px;
            background: #e7f1fb;
            border-radius: 15px;
            overflow: hidden;
            height: 50px;
            width: calc(100% - 40px);
            margin-top: 20px;
            z-index: 10;

            .logo {
                width: 37px;
                height: 100%;
                display: flex;
                padding-left: 10px;
                align-items: center;
                justify-content: center;
            }

            .content {
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.02em;
                color: #136fd3;
                display: flex;
                align-items: center;
            }
        }

        .recruiterContainer {
            margin-left: 20px;
            margin-right: 20px;
            background: #fff;
            border-radius: 20px;
            width: calc(100% - 40px);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            padding: 6px 9px;
            z-index: 10;
            display: none;

            @include sm {
                display: flex;
            }

            .left {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                height: 100%;
                // margin-left: 9px;
                z-index: 10;

                .image {
                    width: 46px;
                    height: 46px;
                    border-radius: 23px;
                    overflow: hidden;
                    margin-top: auto;
                }

                .content {
                    margin-left: 9px;
                }

            }

            .chatLogo {
                // margin-right: 9px;
                z-index: 10;
            }
        }

        .sent {
            position: absolute;
            top: 76px;
            right: 30px;
            width: 53px;
            height: 53px;
        }

        .image {
            width: 60px;
            height: 60px;
            border-radius: 15px;
            overflow: hidden;
            margin-top: 16px;
        }

        .description {
            margin-top: 16px;
            white-space: pre-wrap;
            word-wrap: break-word;
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #353535;
            margin-left: 20px;
            margin-right: 20px;
            max-width: calc(100% - 40px);
            overflow: hidden;
        }

        .bottomImage {
            width: 100%;
            position: absolute;
            left: 0px;
            bottom: 0px;
        }

        .bottomCenter {
            position: absolute;
            left: calc(50% - 172px);
            bottom: 0px;
        }
    }
}


.message_background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #00000033;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;

    .message {
        max-width: 552px;
        width: calc(100vw - 50px);
        height: 412px;
        background: #136FD3;
        border-radius: 15px;
        position: relative;
        overflow: hidden;

        .content {
            margin: 30px 20px;
            background: #fff;
            border-radius: 20px;
            width: calc(100% - 40px);
            height: calc(100% - 60px);
            padding-top: 23px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .company_logo {
                margin-top: 54px;
                // background: gray;
                border-radius: 6px;
            }

            .company_name {
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #2378E5;
                margin-top: 10px;
            }

            .sender {
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #121212;
                margin-top: 8px;
            }

            .viewnow {
                color: #fff;
                background: #136FD3;
                width: 222px;
                height: 44px;
                text-transform: capitalize;
                border-radius: 18px;
                margin-top: 20px;
            }

            .viewlater {
                color: #707070;
                // background:#136FD3 ;
                width: 222px;
                height: 44px;
                text-transform: capitalize;
                border-radius: 18px;
                margin-top: 20px;
            }


        }

        .closeIcon {
            position: absolute;
            top: 18px;
            right: 0px;
            width: 40px;
            height: 50px;
            cursor: pointer;
        }

        .background {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0px;
            bottom: 0px;
        }

        .title {
            position: absolute;
            width: 100%;
            height: auto;
            top: 40px;
            left: 0px;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }

        .head {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0px;
            top: 0px;
        }
    }
}