@import 'styles/mixins.scss';

.uploadResumeButton {
  width: 100%;
  padding: 12px 13px;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
  &_button {
    width: 100%;
    border-radius: 10px;
    background-color: #136fd3;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
  }
  &_button:hover {
    background-color: #136fd3;
  }
}

.arrowContainer {
  .uploadResumeButton_button {
    padding: 6px 35px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    background-position-x: 15px;
  }
  @include msd {
    padding: 20px;
    .uploadResumeButton_button {
      padding: 14px 35px;
    }
  }
}
