@import 'styles/mixins.scss';
@import 'styles/variable.scss';


$contentWidth : 90vw;
$searchContentWidth : 750px;

.container {
  background: #fcfcfc;
}

.companies {
  @extend .GlobalContainer;
  padding-bottom: 88px;

  @include sm {
    padding-bottom: 60px;
  }

  &Pagination {
    margin-top: 50px;
    display: flex;
  }

  @include msd {
    width: $contentWidth;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.searchContainer {
  background: #f0f4f7;
  position: relative;
}

.searchCompany {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(64px);
  position: relative;
  z-index: 3;
  @extend .GlobalContainer;
  padding-top: 20px;

  >p {
    margin-top: 32px;
  }

  &Title {
    margin-bottom: 24px;
  }

}

.companiesPagination {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  :global {
    .MuiPaginationItem-page {
      background-color: #fff;
    }
  }
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #E4E4E4;
  background: #FAFAFA;
  width: $searchContentWidth;
  overflow: hidden;

  @include sm {
    justify-content: flex-start;
  }

  @include msd {
    width: 90vw;
    // padding: 10px;
    flex-wrap: wrap;
    min-height: 88px;
  }

  .filterItems {
    height: 64px;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #F2F3F5;

      :global {
        .MuiOutlinedInput-root {
          background-color: #F2F3F5 !important;
        }

        .MuiOutlinedInput-input {
          background-color: #F2F3F5 !important;
        }
      }
    }

    @include msd {
      height: 44px;
      width: 50%;
      // flex: 0 1 48%;
      // margin: 0 8px 15px 0;

      // &:nth-child(even) {
      //   margin-right: 0;
      // }

      flex: inherit;

      &:hover {
        background-color: transparent !important;

        :global {
          .MuiOutlinedInput-root {
            background-color: transparent !important;
          }

          .MuiOutlinedInput-input {
            background-color: transparent !important;
          }
        }
      }
    }

    :global {
      .MuiSelect-select {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .MuiPaper-root {
        width: 300px;

        .MuiAutocomplete-paper {
          width: 300px;
        }
      }

      .MuiSelect-select div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        width: calc(100% - 13px);
        line-height: 1.5;
      }

      .MuiOutlinedInput-root {
        width: 100%;
        height: 100%;
        background: #FAFAFA !important;
        border-radius: 4px !important;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #F2F3F5 !important;
        }
      }

      .MuiOutlinedInput-input {
        background: #FAFAFA !important;
        padding-right: 24px !important;

        &:hover {
          background-color: #F2F3F5 !important;
        }
      }
    }
  }

  .clearButton {
    height: 64px;
    text-transform: capitalize !important;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    letter-spacing: 0.0075em;
    color: #86909c;
    font-size: 16px;
    justify-content: flex-end;
    padding-right: 20px;
    width: 156px;

    &:hover {
      background-color: #F2F3F5 !important;

      .reset {
        transform: rotate(180deg);
        transition: all 0.3s linear;
      }
    }

    @include msd {
      height: 44px;
      justify-content: center;

      &:hover {
        background-color: transparent !important;

        .reset {
          transform: rotate(180deg);
          transition: all 0.3s linear;
        }
      }

      // margin: 0 8px 15px 0;
    }

  }
}

.featuredCompanyWrapper {
  background-color: #ffffff;
  padding-bottom: 80px;

  @include msd {
    padding-bottom: 20px;
  }
}

.featuredCompanyMain {
  @extend .GlobalContainer;
  padding: 0 !important;
  width: $contentWidth;


}

.featuredEmployer {
  display: flex;
  justify-content: space-between;

  @include msd {
    flex-direction: column;
    height: auto;
    margin-top: 20px;
  }
}

.featuredCompany {
  width: 560px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e5e6eb;
  height: 274px;
  position: relative;

  @include sm {
    width: 100%;
    padding: 28px 12px;
    height: auto;
  }


}

.featuredCompanyLogo {
  width: 90px;
  height: 90px;
  user-select: none;

  a {
    display: inline-block;
  }
}

.featuredTitleWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.featuredCompanyLogoLink {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
  // border: 1px solid #f2f5fa;
  position: relative;
}

.featuredCompanyDetails {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: calc(100% - 80px);
  position: relative;
  z-index: 2;

  @include msd {
    width: 100%;
  }
}

.featuredCompanyAbout {
  // padding-top: 8px;
  padding-bottom: 10px;
  max-width: 430px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;

  @include msd {
    max-width: 100%;
  }
}

.featuredCompanyAboutItem {
  margin-right: 8px;
  font-weight: 400;
  color: var(--main-color-black-black-037-d-7-d-7-d, #7D7D7D) !important;
  font-family: Product Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
  letter-spacing: 0.105px;
}

.featuredCompanyAboutItemSeparator {
  width: 1px;
  height: 9px;
  background-color: #c9cdd4;
  display: inline-block;
  margin-left: 4px;
}

.featuredCompanyNameWrapper {
  display: flex;
  align-items: center;

  img {
    margin-top: 3px;
  }
}

.featuredCompanyName {
  margin-right: 8px;
  font-weight: normal;
  display: inline-block;
  max-width: 408px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--main-color-black-black-01121212, #121212);
  /* Bold/super title/medium */
  font-family: Product Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 125% */
  letter-spacing: 0.24px;
  margin-bottom: 10px;

  @include msd {
    max-width: 100%;
    white-space: wrap;
  }
}

.featuredCompanyDescription {
  color: #4e5969;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-width: 430px;

  @include msd {
    max-width: 100%;
  }
}

.featuredCompanyPhotos {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
}

.featuredCompanyPhoto {
  position: relative;
  width: 136px;
  height: 94px;
  margin-right: 8px;
  user-select: none;
  -webkit-user-drag: none;
  border: 1px solid rgba(229, 230, 235, 0.3);

  &:last-child {
    margin-right: 0;
  }

  @include msd {
    flex: 0 1 30%;
    height: 0;
    padding-bottom: 25%;
  }
}

.placeholderSpace {
  height: 60px;
  background-color: #ffffff;

  @include msd {
    height: 60px;
  }
}

.featuredSectionTitle {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  margin: 0;
  color: #353535;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0.33px;

  @include sm {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 32px;
  }

  @include msd {
    display: none;
  }
}

.popularCompanyTitle {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  margin: 0;

  color: #353535;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0.33px;

  @include sm {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 32px;
  }
}

.searchField {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $searchContentWidth;
  padding: 14px;
  border-radius: 8px 8px 0px 0px;
  background: #FFF;
  // box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);

  @include msd {
    width: 90vw;
    padding: 4px;
  }

  &InputContainer {
    position: relative;
    border-radius: 8px 0 0 8px;
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px 0px 0px 8px;
    background: var(--background-white, #FFF);
    flex: 1;

    :global {
      .MuiOutlinedInput-root {
        height: 60px;
        background-color: #ffffff;
        border-radius: 8px 0 0 8px;
      }

      .MuiOutlinedInput-input {
        font-size: 16px;
      }

      .MuiInputLabel-root {
        top: 12px;
      }

      .MuiFormLabel-filled,
      .Mui-focused {
        top: 0;
        border-radius: 8px 0 0 8px;
      }

      .MuiOutlinedInput-notchedOutline {
        border-radius: 8px 0 0 8px;
        border-width: 0;
        // border-width: 1px;
        // border-color: #E5E6EB;
      }

      .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
        border-width: 2px;
        border-color: #1976d2;
      }

      .MuiAutocomplete-input {
        padding: 2.5px 28px 2.5px 6px !important;
      }
    }
  }

  &Input {
    width: 100%;
  }

  &Suggestions {
    position: absolute;
    width: 100%;
    border: 1px solid $lightgrey;
    z-index: 2;
  }

  &SuggestionItem {
    background-color: $white-3;
    padding: 10px 20px;

    &:not(:last-child) {
      border-bottom: 1px solid $white-2;
    }

    &:hover {
      cursor: pointer;

      span {
        color: $primaryBlue;
      }
    }
  }

  &SuggestionEmpty {
    background-color: $white-3;
    padding: 10px 20px;
  }

  &Button {
    text-transform: capitalize;
    background: #136fd3;
    color: #fff;
    height: 60px;
    border-radius: 0 8px 8px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.15px;
    cursor: pointer;
    border: 1px solid #136fd3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 0px 8px 8px 0px;
    background: var(--main-color-blue-blue-012378-e-5, #2378E5);
    min-width: 145px;

    &:hover {
      background: #1854a3;
    }

    @include msd {
      width: auto !important;
      min-width: 97px;
      border-radius: 0px 8px 0px 0px;
      background: var(--main-color-blue-blue-012378-e-5, #2378E5);
      color: #FFF;
      font-family: Product Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      /* 90% */
      letter-spacing: 0.15px;
    }
  }

  @include msd {
    flex-direction: row;

    &InputContainer {
      width: 100%;
    }

    &Button {
      width: 35%;
    }
  }
}

.searchInput {
  flex: 1;

  :global {
    .MuiInputLabel-root {
      font-size: 16px;
    }
  }
}

.companyList {
  display: flex;
  flex-wrap: wrap;
  // margin-top: 20px;
  justify-content: space-between;

  @include msd {
    margin-top: 20px;
    flex-direction: column;
  }
}

.companyItem {
  width: 368px;
  // margin-right: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all .3s ease-in;
  border: 1px solid transparent;
  border-radius: 8px;

  &:hover {
    box-shadow: 7px 0px 70px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid #2378e5;

    .split_hover {
      width: 100%;
    }
  }

  @include msd {
    width: 100%;
  }
}

.companyVerify {
  height: 30px;
  width: 30px;
  position: relative;

  @include msd {
    position: absolute;
    height: 24px;
    width: 24px;
    bottom: -10px;
    right: -10px;
  }
}

.mobile {
  @include msd {
    display: block !important;
  }
}

.companyCard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  height: 300px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
  align-self: stretch;



  @include msd {
    flex-direction: row;
    background: transparent;
    height: auto;
    padding: 0px;

  }

  &Image {
    display: inline-block;
    width: 80px;
    height: 80px;
    object-fit: contain;
    position: relative;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    overflow: hidden;
  }

  &Left {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    @include msd {
      position: relative;
      margin-right: 20px;
      width: auto;

    }
  }

  &Right {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

    p {
      margin: 0;
      flex: 1;
    }

    @include msd {
      width: calc(100% - 54px);
    }
  }

  &Name {
    display: flex;

    a {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-style: normal;
      color: #1B1534;
      font-family: Product Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 10px;

      @include msd {
        @include line-clamp-with-line-height(2, 1.5);
        font-size: 20px;
        font-weight: 700;

      }
    }
  }

  &Category {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.113px;
    @include text_overflow;

    @include msd {
      color: var(--general-black, #353535);
      font-family: Product Sans;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      /* 153.333% */
      margin-bottom: 20px !important;
      width: 80%;
    }

  }

  &Openings {
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include msd {
      display: none;
    }

    p {
      color: #4e5969;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.113px;
      padding: 0;
      margin: 0;
    }

    span {
      font-size: 16px;
      color: #2378e5;
    }
  }

  .arrowIcon {
    margin-left: 10px;
  }
}

.compnayCardWrapper {
  @include msd {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--main-color-black-black-06-e-4-e-4-e-4, #E4E4E4);
  }
}

.mobileOpenings {
  display: none;

  @include msd {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid var(--main-color-black-black-06-e-4-e-4-e-4, #E4E4E4);
    justify-content: center;
    align-items: center;
  }
}

.split {
  display: block;
  border-top: 1px solid #e4e4e4;
  width: 100%;

  @include msd {
    display: none;
  }
}

.split_hover {
  border-top: 1px solid #2378e5;
  transition: all .3s ease-in;
  width: 0;
}

.tips_wrapper {
  width: 100%;
  height: 139px;
  position: relative;
  border-radius: 8px;
  margin-bottom: 15px;

  @include msd {
    display: none;
  }
}

.tips_full {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 139px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  overflow: hidden;
}

.tips_content {
  position: relative;
  z-index: 100;
  width: 100%;
  display: flex;
  height: 139px;
  align-items: center;
  padding: 0 40px;

}

.tips_content_text {
  color: #FFF;
  font-family: Product Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 125% */
  letter-spacing: 0.18px;
  flex: 1;
  margin-left: 30px;
  margin-right: 60px;
}

.tips_content_go {
  width: 151px;
  display: flex;
  height: 44px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--main-color-white-white-ffffff, #FFF);
  cursor: pointer;
  font-size: 18px;
  color: #2378e5;

  &:hover {
    background: darken(#FFF, 10%);
  }

  &:active {
    background: darken(#FFF, 20%);
  }
}