@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.searchField {
  display: flex;

  &InputContainer {
    width: 88%;
    position: relative;
    margin-right: 16px;
  }

  &Input {
    width: 100%;
  }

  &Suggestions {
    position: absolute;
    width: 100%;
    border: 1px solid $lightgrey;
    z-index: 2;
  }

  &SuggestionItem {
    background-color: $white-3;
    padding: 10px 20px;

    &:not(:last-child) {
      border-bottom: 1px solid $white-2;
    }

    &:hover {
      cursor: pointer;

      span {
        color: $primaryBlue;
      }
    }
  }

  &SuggestionEmpty {
    background-color: $white-3;
    padding: 10px 20px;
  }

  &Button {
    padding: 6px 25px !important;
    width: 12%;
  }

  @include msd {
    flex-direction: column;

    &InputContainer {
      width: 100%;
      margin-bottom: 24px;
    }

    &Button {
      width: 100%;
    }
  }
}