@import 'styles/variable.scss';

.head {
  width: 100%;
  background-color: white;
  padding: 27px 0;

  &_main {
    margin: 0 auto;
    max-width: $NextAppMaxWidth;

    h1 {
      display: flex;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      letter-spacing: 0.02em;
      color: #353535;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 0;
    }

    &_salary {
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.02em;
      color: #136fd3;
    }

    &_desc {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.0075em;
      color: #707070;
    }

    &_change {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;

      &_resume {
        display: flex;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;

        a {
          color: #000000;
        }

        &_btnWrapper {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.container {
  max-width: $NextAppMaxWidth;
  margin: 0 auto;
  display: flex;
  margin-bottom: 24px;
  margin-top: 44px;

  .main {
    width: calc(100% - 275px);

    .desc {
      background: #ffffff;
      border-radius: 15px;
      padding: 24px;

      &_title {
        display: flex;
        justify-content: space-between;

        &_change {
          display: flex;
        }

        h5 {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0.02em;
          color: #353535;
        }
      }

      &_labels {
        display: flex;
        flex-wrap: wrap;

        div {
          margin-right: 4px;
          margin-bottom: 10px;
          align-items: center;
          padding: 3px 10px;
          background: #f0f0f0;
          border-radius: 16px;

          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          letter-spacing: 0.0075em;
          color: #707070;
        }
      }

      &_context {
        margin-top: 16px;
        overflow: hidden;
      }

      &_requirement {
        margin-top: 24px;
      }

      &_footer {
        margin-top: 24px;
        border-top: 0.5px solid #bcbcbc;
        display: flex;
        align-items: center;
        padding-top: 24px;

        &_name {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #353535;
          margin-left: 7px;
        }

        &_chat {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.0075em;
          color: #707070;
          margin-left: 18px;
        }

        &_lineStatus {
          padding: 0 8px;
          background: #0ebd5c;
          border-radius: 15px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.0075em;
          color: #ffffff;
          margin-left: 18px;
          padding-left: 20px;
          position: relative;
        }

        &_lineStatus::before {
          content: '';
          background-color: #ffffff;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 8px;
        }

        &_notLine {
          background: #bcbcbc;
        }
      }

      .jobClient {
        &_btn {
          &_wrapper {
            display: flex;
            cursor: pointer;

            .MuiAvatar-root {
              margin-right: 3px;
            }
          }
        }
      }
    }

    .map {
      background: #ffffff;
      border-radius: 15px;
      padding: 24px;
      margin-top: 44px;

      h5 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #353535;
      }

      h5 + p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #353535;
      }

      &_context {
        width: 100%;
        height: 230px;
        background-color: rgba(245, 222, 179, 0.2);
        border-radius: 15px;
      }
    }

    // search
    .search {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 44px;

      &_location {
        width: 183px;
        height: 24px;
      }

      &_field {
        width: calc(100% - (183px + 119px + 30px));
      }
    }
  }

  .benefits {
    background: #ffffff;
    border-radius: 15px;
    padding: 24px;
    margin-top: 44px;

    &_labels {
      display: flex;
      flex-wrap: wrap;

      div {
        margin-right: 4px;
        margin-bottom: 10px;
        align-items: center;
        padding: 3px 10px;
        background: #f0f0f0;
        border-radius: 16px;

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.0075em;
        color: #707070;
      }
    }

    &_more {
      font-family: 'Product Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.02em;
      color: #136fd3;
    }
  }

  .aside {
    margin-left: 25px;
    width: 250px;

    .signUp {
      width: 100%;
      width: 250px;
      height: 213px;
      background: #e7f1fb;
      border-radius: 10px;
      padding: 16px;

      &_userProtocol {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.0075em;
        color: #707070;
        margin-top: 8px;
      }
    }

    .company {
      background: #ffffff;
      border-radius: 15px;
      margin-top: 24px;
      padding: 16px;

      &_title {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.02em;
      }

      &_name {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #353535;
        margin: 8px 0;
      }

      &_financingStage {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.0075em;
        color: #707070;
      }
    }

    .similarJobs {
      background: #ffffff;
      border-radius: 15px;
      overflow: hidden;
      margin-top: 24px;

      h3 {
        height: 44.22px;
        background: #f0f0f0;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 44.22px;
        letter-spacing: 0.02em;
        color: #353535;
        padding-left: 15px;
        margin-bottom: 0;
      }

      &_card {
        margin-top: 32px;
      }

      &_container {
        padding: 16px;
        padding-top: 0;
      }

      &_title {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #353535;
        margin-bottom: 0;
      }

      &_salary {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #136fd3;
      }

      &_info {
        display: flex;
        margin-top: 15px;

        &_jobType {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          letter-spacing: 0.0075em;
          color: #707070;
          line-height: 14px;
        }
      }
    }

    .ad {
      &_container {
        width: 250px;
        height: 250px;
        background-color: rosybrown;
        animation: loading 2s ease infinite;
        overflow: hidden;
        margin-top: 24px;
      }
    }
  }
}

@keyframes loading {
  0% {
    background-size: 300% 100%;
    background-image: linear-gradient(100deg, #eee 40%, #fff 50%, #eee 60%);
    background-position: 100% 50%;
  }

  100% {
    background-size: 300% 100%;
    background-image: linear-gradient(100deg, #eee 40%, #fff 50%, #eee 60%);
    background-position: 0 50%;
  }
}
