.modalContainer {
  .modalTitle {
    font-weight: 700;
    font-size: pxToRem(24px);
    line-height: 30px;
    letter-spacing: 1px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .detailItemContainer {
      display: flex;
      flex-direction: row;
      width: 100%;

      label {
        width: 150px;
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #707070;
        // flex: 0;
      }

      p {
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #353535;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        flex: 1;
      }
    }

    .footer {
      font-family: 'Product Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #707070;
      margin-top: 20px;
    }
  }

  .copyIcon {
    border: 1px solid #136fd3;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    padding: 3px 8px 5px 8px;
  }
}
