.modalContainer {
    .modalTitle {
        font-weight: 700;
        font-size: pxToRem(24px);
        line-height: 30px;
        letter-spacing: 1px;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

        .detailItemContainer {
            display: flex;
            flex-direction: row;
            width: 100%;

            label {
                width: 150px;
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #707070;
            }

            p {
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #353535;
            }
        }

        .footer {
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.02em;
            color: #707070;
            margin-top: 20px;
        }
    }
}